@navBgColor : #008209;
@navBgActiveColor: darken(@navBgColor, 5%);
@navFontColor :lighten(@navBgColor, 65%);
@navFontHoverColor : white;
@pageFontFam : "Helvetica Neue",Helvetica,Arial,sans-serif;
@fontDefaultSize : 14px;
@navBarPaddding : 60px;
@ScreenWidthBig : 1100px;
@PicScreenWidthBig : @ScreenWidthBig - 100px;
@ScreenWidthSmall : 900px;
@PicScreenWidthSmall : @ScreenWidthSmall - 100px;

#picScreen {
	display: block;
}








