//global vars
@pageFontFam : "Helvetica Neue",Helvetica,Arial,sans-serif;
@fontDefaultSize : 14px;
@messageSuccessColor : #dff0d8;
@messageErrorColor : #f2dede;
@messageInfoColor : #d9edf7;

//body vars
@bodyBgColor : lighten(black,90%);



//navbar vars
@navBgColor : #6f5499;
@navBgActiveColor: darken(@navBgColor, 10%);
@navBgDarkColor: darken(@navBgColor, 20%);
@navFontHoverColor : white;
@navFade : 0.7;
@navFontColor :fade( @navFontHoverColor, percentage(@navFade));
@navbarWidth : 46px;
@navBottomBorderColor : darken(@navBgColor, 30%);

@contentContainerFirstColor : darken(@navBgColor, 30%);

//contentContainer vars
@gap : 10px;
@borderWidth : 10px;
@contentContainerBg : rgba(255,255,255,0.5);


html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family:  @pageFontFam;
	font-size : @fontDefaultSize;
	background: @bodyBgColor;
	
	@media screen and ( max-width: 700px) { 
		width : 100%;
	}

}


// Standard padding
@horizontalPadding : 20px;
@verticalPaddingLi :  10px;
@verticalPaddingText : 5px;


.xpadding {

	padding-left:  @horizontalPadding;
	padding-right:  @horizontalPadding;	
	padding-top:  @verticalPaddingLi;
	padding-bottom:   @verticalPaddingLi;
}

.smallPadding {
	display: inline-block;
	padding-top: @verticalPaddingText;
	padding-bottom: @verticalPaddingText;
}


//navbar Section

.panelA {
	li, div {
		display: inline-block;
		vertical-align: middle;
		.xpadding;	
	}
}

//Screen Section

@ScreenWidthBig : 1200px;
@PicScreenWidthBig : 1000px;
@ScreenWidthMedium : 900px;
@PicScreenWidthMedium : 800px;
@ScreenWidthMediumSmall : 700px;
@PicScreenWidthMediumSmall : 650px;


.mediaSec {
	@media screen and ( min-width: @ScreenWidthMediumSmall ){
		width: @PicScreenWidthMediumSmall;
	}
@media screen and ( min-width: @ScreenWidthMedium ){
		width: @PicScreenWidthMedium;
	}
@media screen and ( min-width: @ScreenWidthBig ){
		width: @PicScreenWidthBig;
	}

}





//Navbar Section

.mainNavbar {

	background-color: @navBgColor;
	color: @navFontColor;
	position: fixed;
	font-size: @fontDefaultSize;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid @navBottomBorderColor; 

    #navContent {
		position: relative;
		margin: 0 auto;
		padding: 0;
		.mediaSec;

	}

	.avImg {
		height: @fontDefaultSize + 10px;
		vertical-align: top;
		width: auto;
		padding: 0;
		margin: 0;
		border-radius: 50%;

	}

	
		
	.active {
		pointer-events: none;
		background-color: @navBgActiveColor;
	}

	#navLogo {
		float: left;	
		width: auto;
		position: relative;
	}

	.mobileDropDown {
	display : none;
	}

	.cleanPanel {
		li,div { 
			margin:0;
			padding-top : 0;
			padding-bottom : 0;
			width: auto;
			height: 100%;
			img {
				
				vertical-align: top;
				height: 100%;
				width: auto;
				padding: 0;
				margin: 0;

			}
		}
		#navLogo a {
			margin: 0;
			padding: 0;
		}
	}




  	@media screen and ( min-width: 700px) {
		.menuDropDown a  span::after {
			content: "▼";
		}
		ul#userCloud {
			display: none;
		}
	}




	#logoPanel {
			margin: 0;

	    	div {
	    		a{
					.smallPadding;
				}
	    		vertical-align: middle;
	    		float: left;
	    		text-align: center;
			}
			.panelA;
			.cleanPanel;
			#navLogo{
					height: 46px;
			}
		
			
	}
	
	#leftSidePanel {

    	margin: 0;

    	li {
    		a{
				.smallPadding;
			}
    		vertical-align: middle;
    		float: left;
    		text-align: center;
		}
		.panelA;
	}


	#rightSidePanel {

		margin: 0;
		.panelA;
		float: right;
	
    	li {
    		a{
				.smallPadding;
				&#user {
					padding: 0;
					span {
						.smallPadding;
					}
				}
			}
    		
    		vertical-align: middle;
    		float: left;
    		text-align: center;	
		}

		.userLiPanel {
			width: 160px;
			a, button{
				float: right;
			}
			
		}


		button {
			margin: 0;
			margin-left: @horizontalPadding;
			padding: 0;
			background-color: @navBgColor;
			color: @navFontColor;
			text-decoration: none;
			display: inline-block;
			border-style : none;
			.smallPadding;
			&::after {
				content: "▼";
			}
		}


		
	}
	

	ul {
		vertical-align: middle;
    	list-style-type: none;
	}

	div, li {
		vertical-align: middle;
		margin: 0;
		padding: 0;
		
	}



	
	a:link {
		color: @navFontColor;
		text-decoration: none;
		img {
			opacity: @navFade;
		}
		
	}



	a:visited {
		color: @navFontColor;
	    text-decoration: none;
	}


	a:active {
		color: @navFontColor;
	    text-decoration: none;
	}

	a:hover {
		color: @navFontHoverColor;
		text-decoration: none;
		img {
			opacity:1.0;
		}

	}


	
	div#loginShadow {
		padding: 0;
		display:none;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index:-1;
	}
	


	#loginCloud {
		display:none;
		position: absolute;
		top: 46px;
	    right: 0;
		padding: 5px;
		float: right;
		background-color: @navBgColor;
		color: @navFontColor;
		border-bottom : 2px solid darken(@navBgColor, 30%);

	}

	#userCloud {
		display: block;
		margin: 0;
		padding: 0;
		.panelA;
		li{
			width: 160px;
			padding-left: 0;
			padding-right: 0;
			display: block;
			float: none;
			text-align: center;
		}
		position: absolute;
		top: 46px;
	    right: 0;
		float: right;
		background-color: @navBgColor;
		color: @navFontColor;
		border-bottom : 2px solid darken(@navBgColor, 30%);

	}

	#loginCloud > form > div {
		margin: 10px;
	}


	 @media screen and ( max-width: 700px) {
		position: static;
		display: inline-block;
		margin:0;
		padding: 0;
		width: 100%;

		.xactive {
					background-color: @navBgActiveColor;
				}
		
		#navContent {
			width: 100%;
			margin:0;
			padding: 0;
			position: relative;
			display: block;
			float: left;

			

			#logoPanel {
				float: left;
				width: 100%;
				display: inline-block;
				#navLogo {
					float: left;
					display: inline-block;
				}


				.mobileDropDown {
					margin: 0;
					padding: 0;
					background-color: @navBgColor;
					color: @navFontColor;
					text-decoration: none;
					display: inline-block;
					border-style : none;
					padding-left:  @horizontalPadding;
					padding-right:  @horizontalPadding;	
					padding-top:  @verticalPaddingLi + @verticalPaddingText;
					padding-bottom:   @verticalPaddingLi + verticalPaddingText;

					float: right;

					&::after {
						content: "▼";
					}
				}
			}

			.xli {
				li{
					padding-left: 0;
					padding-right: 0;
					width: 100%;
					display: inline-block;
					margin: 0;
					a {
						margin: 0; 
						width: 100%;
					}
				}
			}
			
			
			

			#panels {
				display : none;
				margin: 0;
				padding: 0;
				width: 100%;
				
			}
			#leftSidePanel {
				position: static;
				margin: 0;
				padding: 0;
				display: none;
				width: 100%;
				display: inline-block;
				.xli;
				
			}
			#rightSidePanel {
				position: static;
				margin: 0;
				padding: 0;
				display: none;
				width: 100%;
				display: block;
				li.userLiPanel {
					button {
						display: none;
					}
					width: 100%;
					
				}

				.xli;
				
			}

			ul#userCloud {

				width: 100%;
				position: static;
				margin: 0;
				padding: 0;
				border : none;
			}


			#userCloud li{
				width: 100%;
				display: inline-block;
				margin: 0;
				a {
					margin: 0; 
					width: 100%;
				}
			}

			ul{
				width: 100%;
				position: static;
				margin: 0;
				padding: 0;
			}
			
		}


	}
    
}

//contentContainer Section

@footerHeight : 50px;
@footerBorderWidth : 4px;
@contentContainerPaddingBottom : @footerHeight + @footerBorderWidth+@gap;

.contentContainer {
	color: @contentContainerFirstColor;
	position: relative;
	display: block;
	@contentContainePaddingTop :@navbarWidth;
	min-height: calc(~"100% - @{contentContainePaddingTop} - @{contentContainerPaddingBottom}");
	margin: 0 auto;
	padding: 0;
	padding-top: @contentContainePaddingTop ;
	padding-bottom: @contentContainerPaddingBottom;
	background-color: @contentContainerBg;

	@media screen and ( max-width: 700px) { 
		padding-top: 0;
		overflow : auto;
	}

	& > div{
		padding-top: 10px;
	}
	
	.mediaSec;

	footer {
		height: @footerHeight;
		text-align: center;
		background-color: white;
		position: absolute;
		width: 100%;
		border-top: @footerBorderWidth solid lighten(black,90%);
		left:0;
    	bottom:0;
    	div{
    		margin-left : @gap;
    		margin-right: @gap;
    		.xpadding;
    	}
	}
}





//Components 


.secondColor(@bg) {
		@firstCloudColor : darken(@bg, 30%); 
		color: @firstCloudColor;
		border-color:  @firstCloudColor;
	}

.flashContainer  {
	margin-right: @gap;
	margin-left: @gap;
}

div#flashContainer {
	padding-top: 0;
	.flashContainer ;
}


.messageCloud {
		font-size: @fontDefaultSize;
		border : none;
		border-top: 2px solid ;
		margin-top: @gap;
		.xpadding;
		opacity: 0.9;

		&.success {
			background-color: @messageSuccessColor;
			.secondColor(@messageSuccessColor) ;
		}

		&.error {
			background-color: @messageErrorColor;
			.secondColor(@messageErrorColor) ;
		}

		&.info {
			background-color: @messageInfoColor;
			.secondColor(@messageInfoColor) ;
		}
}





.pixPoints {
	order : 2;
	padding: 0;
	text-align: center;
	margin-bottom: 10%;
	width: 100%;
	font-size: 16px;

}



@sBttPaddingHorizontal : 20px;
@sBttPaddingVertical : 5px;

.standardBtt {
	margin: 0;
	padding: 0;
	
	font-size: @fontDefaultSize ;
	
	padding: @sBttPaddingVertical;
	padding-left: @sBttPaddingHorizontal;
	padding-right: @sBttPaddingHorizontal; 
	border: 1px solid @contentContainerFirstColor;
	display: inline-block;
	text-decoration: none;

	&:active {
		position: relative;
		top: 1px;
	}
}

@sBttBigScale : 1.2;
.standardBttBig {
		
	.standardBtt;
	font-size: @sBttBigScale*@fontDefaultSize ;
	
	padding: @sBttBigScale*@sBttPaddingVertical;
	padding-left: @sBttBigScale*@sBttPaddingHorizontal;
	padding-right: @sBttBigScale*@sBttPaddingHorizontal; 
	
}

.navBtt { 
	background-color: @navBgColor;
	color: @navFontColor;
	border-color: @navFontColor;
	float: right;

	&:hover {
		color : @navBgColor;
		border-color : @navFontHoverColor;
		background-color: @navFontHoverColor;
	}
}



@inputBorderWidth : 1px;

.standardInput {
	outline : none;
	padding: 3px;
	outline: none;


	&:focus {
		.inputState(@messageInfoColor);
		text-decoration: none;
	}
}

.navInput {
	border: @inputBorderWidth solid  @navBgActiveColor;
	&:focus {
		outline: none;
		borderWidth : 1px;
	}
}



.picBox {
	box-shadow: 3px 3px 10px rgba(118, 118, 118, 0.35);
}







.galleryContainer {
	position: fixed;
	left:0;
    top:0;
	width:100%; 
	height : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}


.imgCloud {
	padding: @borderWidth;
	position:absolute;
    left: calc(~"50% - 250px"); 
    top: calc(~"50% - 250px");
    background-color:white;
}



@descSecPadding : 5px;
@descSecHeigth : 0.35;
@descSecColor : white;
@descSecHeigthPc : percentage(@descSecHeigth);
@pointUpBttWidth : @descSecHeigthPc/2;

.picScreen {
	height : 100%;
	.imgSec {
		
		/*-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
    	/*transition: width 1s,height 1s;*/
    	img {
    		vertical-align: top;
    		/*-webkit-transition: width 1s,height 1s;*/ /* For Safari 3.1 to 6.0 */
    		/*transition: width 1s,height 1s;*/
    	}
	}


	.pointUpBtt {
		order : 1;
		padding: 0;
		font-size: 20px;

		color: white;
		background-color: Transparent;
		border: 1px solid white;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		display: inline-block;
		text-decoration: none;
		text-align: center;
		

		&:hover {
			background-color: white;
			color: rgba(0, 0, 0, 0.4);
		}


		&:active {
			position: relative;
			top: 1px;
		}
	}



	.descSec, .descSecx {
		display: none;
		position: absolute;
    	left: @borderWidth;
    	bottom: @borderWidth;
    	background-color:  rgba(0, 0, 0, 0.4);
    	color: @descSecColor;
    	height: calc(~"@{descSecHeigthPc} ");
    	width: calc(~"100% - 30px");
		padding: @descSecPadding;
		
		.avImg {
			vertical-align: top;
			width: auto;
			padding: 0;
			margin: 0;
			border-radius: 50%;
		}
		

    	.descPan {
    		width: calc(~"100% - @{pointUpBttWidth} -  @{borderWidth}");
    		height: 100%;
    		.title {
				height: calc(~"70% - 5px");
    			width: calc(~"75% - @{borderWidth}");
    			margin-bottom: 10px;
    		}

    		a:link {
				color: @descSecColor;
				text-decoration: none;
			}



			a:visited {
				color: @descSecColor;
			    text-decoration: none;
			}


			a:active {
				color: @descSecColor;
			    text-decoration: none;
			}

			a:hover {
				color: @descSecColor;
				text-decoration: none;
			}

    		.author {
    			height: 30%;
    			width: calc(~"75% - @{borderWidth}");
    		}
    	}
	}



	.badgeSec {
		display: flex; 
		align-content: flex-end;
		flex-direction: column-reverse;
		width: @pointUpBttWidth;
		height: calc(~"100% - @{borderWidth}");
		position: absolute;
    	right: @descSecPadding;
    	bottom: @descSecPadding;
		font-size: 30px;
    	border-left: 1px solid white;
	}


}

@smallTitleFontSize : 20px;
.smallTitle {
	
	font-size : @smallTitleFontSize;
	font-weight: bold;
	
}

.bigTitle {
	display: block;
	padding-top : 10px;
	padding-bottom : 10px;
	font-size : 40px;
	font-weight: bold;
}


//forms colors 

@formBg : #E7E7E7;

.inputState(@color) {
	border-top: 2px solid darken( @color , 30%);
}


.formXStyle {
		background-color: @formBg;
		border-top: 2px solid ;
		.secondColor(@formBg);
		margin-top: @gap;
		.xpadding;
		opacity: 0.9;
		position: relative;
		margin-top:@gap;
		margin-bottom: @gap;
		

		input[type='text'], input[type='password'] {
			&:focus {
				text-decoration: none;
				.inputState(@messageInfoColor);
			}

			&.success {
				.inputState(@messageSuccessColor);
				
			}

			&.error {
				.inputState(@messageErrorColor);
			}

			&.info {
				.inputState(@messageInfoColor);
			}
			padding-left: 0;
			padding-right: 0;
			border : none;
			border-top : @inputBorderWidth solid darken(@formBg, 30%); ;
		}
}

.bttXStyle {
	.standardBtt {
		background-color: @formBg;
		.secondColor(@formBg);
		float: right;
		text-align: center;

		&:hover {
			background-color : darken(@formBg, 30%);;
			color: @formBg;
		}


				
	}
}


.inputInfoState(@color, @sign) {
	.secondColor(@color);
	&::before {
			content: @sign;
			margin-right: 3px;

	}
}


.inputInfo {
	padding-top:3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: @horizontalPadding; 
	display:  inline;
	width: 40%;
	margin-left: 5%;
	&.success {
		.inputInfoState(@messageSuccessColor,'\2713');
	}
	&.error {
		.inputInfoState(@messageErrorColor,'\2717');
	}
	&.info {
		.inputInfoState(@messageInfoColor, '\2022');
	}
	

}

.formGlobalMessageState(@color) {
			background-color: @color;
			.secondColor(@color);
		}

		#formMessageGlobalCon{
			display: block;
			width : 100%;
		}

		#formMessageGlobal {
				display: none;
				text-align: center;
				@globalCloudPadding : 10px;
				@dgcp : 2 * @globalCloudPadding;
				width: calc(~'100% - @{dgcp}');
				padding: @globalCloudPadding;
				border-top : @inputBorderWidth solid;
				&.success {
					.formGlobalMessageState(@messageSuccessColor) ;
				}
				&.error {
					.formGlobalMessageState(@messageErrorColor) ;
				}
				&.info {
					.formGlobalMessageState(@messageInfoColor);
				}

		}



.myForm {
		.formXStyle;
		margin-left: @gap; 
		float: left;
		display: block;

		input[type='text'], input[type='password'] {
			width: 50%;
		}

		width : 50%;
		
		div {
			padding-top: @horizontalPadding;
			div {
				padding: 0;
			}
		}

		button {
			width: 50%;
		}

		label {
			display: block;
		}

		.buttonContainer {
			width: 50%;
			.bttXStyle;

		}

		


	}

	@media screen and ( max-width: 700px) {
			.myForm {
				width : calc(~'100% - @{gap} - @{gap} - @{horizontalPadding} - @{horizontalPadding}');
				.buttonContainer {
					width: 100%;
					text-align: center;
					.standardNavBtt{
						float :none;
					}
				}
			}
		}


div#picScreenFloat  {



	padding-top: 0;
	padding-bottom : 10px;


	&:after{
	    clear: both;
	    content: "";
	    display: block;
	}

	
	
	
	

	.picBox { 
		transition: width 300ms, height 300ms;
    	-webkit-transition: width 300ms, height 300ms; /* Safari 3.1 to 6.0 */
		position: relative;
		margin-top:@gap;
		margin-left: @gap; 
		float: left;
		display: block;
		padding:  @borderWidth;
		float : left;
		background-color: white;
		/*-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
    		/*transition: width 1s,height 1s;*/
	}
}

#picScreenPuzzled {
	position: relative;
	

	.picBox {
		position: absolute;
		display: block;
		padding:  10px;
		background-color: white;
		margin-right: 10px; 
	}



}



.pView(@p) {
	@elem : floor(100 / @p) + 1;
	@xwidth : percentage(@p/100);
	@elempx : (@elem * @gap) / floor(100 / @p);
	@borderWidth : 10px;
	@dbw : 2*@borderWidth;
	@pixDimVw: @p*1vw;
	@pixDimPx : @elempx + @dbw;
	padding-top: 0;
	position: relative;
 	width: 100%;
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
	.descSec, .descSecx {
		position: relative;
		display: block;
		@descSecHeigthVw : @pixDimVw *@descSecHeigth;
		@descSecHeigthPx : @pixDimPx*@descSecHeigth;
		height: calc(~'-@{descSecHeigthPx} + @{descSecHeigthVw}');
		background-color: white;
		width: 100%;
	 	padding: 0;
	 	top:0;
	 	left: 0;
	 	padding-top: @gap;
		color : @contentContainerFirstColor;
		.descPan {
	 		float: left;
	 		height: 100%;
		}
		.badgeSec {
			color : @contentContainerFirstColor;
			position: absolute;
			font-size: 30px;
	    	border-left: 1px solid @contentContainerFirstColor;
	    	.pointUpBtt {
	    		color : @contentContainerFirstColor;
	    		border: 4px solid @contentContainerFirstColor;
	    		height:100%;
	    	}

	    	.pointUpBtt {
				@borderDiv: 60;
		 		@borderVw : @pixDimVw/@borderDiv;
		 		@borderPx : @pixDimPx/@borderDiv;
		 		@bonus : 0.5 / ( @elem - 1);
		 		@bonusvw : @bonus * 1vw;
		 		border-width:  calc(~'-@{borderPx} + @{borderVw}');
				width: calc(~'100% + 2*@{borderPx} - 2*@{borderVw} + @{bonusvw}');
		 		height: calc(~'50% + 2*@{borderPx} - 2*@{borderVw} ');
		 		margin: calc(~'-@{borderPx} + @{borderVw}');
				&:hover {
					background-color: @contentContainerFirstColor;
					color: white;
				}
			}
		}



	}

	

	 
	 .picBox {
	 	transition: width 300ms, height 300ms;
    -webkit-transition: width 300ms, height 300ms; /* Safari 3.1 to 6.0 */
		width: calc(~"@{xwidth} - @{elempx} - @{dbw}");
		height: calc(~"@{xwidth} - @{elempx} - @{dbw}");
	  position: relative;
	  margin-top: 10px;
	  margin-left: 10px;
	  display: block;
	  padding: 10px;
	  float: left;
	  background-color: white;

	  a:link {
		color: @contentContainerFirstColor;
		text-decoration: none;
	}



	a:visited {
		color:@contentContainerFirstColor;
	    text-decoration: none;
	}


	a:active {
		color: @contentContainerFirstColor;
	    text-decoration: none;
	}

	a:hover {
		color: @contentContainerFirstColor;
		text-decoration: none;

	}

	  img {
	  	vertical-align: top;
		width: 100%;
		height: 100%;
	  }
	  /*-webkit-transition: width 1s,height 1s;*/
	  /* For Safari 3.1 to 6.0 */
	  /*transition: width 1s,height 1s;*/



 	.badgeSec {
	 	position: relative;
	 	height: 100%;
	 	float: right;
	 	right: 0;
	 	bottom: 0;
	 	.pixPoints {
	 		@pixPointsDiv: 10;
	 		@fontVw : @pixDimVw/@pixPointsDiv;
	 		@fontPx : @pixDimPx/@pixPointsDiv;
	 		font-size: calc(~'-@{fontPx} + @{fontVw}');
	 	}

	 	.pointUpBtt{
	 		@pointUpDiv: 10;
	 		@fontVw : @pixDimVw/@pointUpDiv;
	 		@fontPx : @pixDimPx/@pointUpDiv;
	 		font-size: calc(~'-@{fontPx} + @{fontVw}');
	 	}
	 }



	 .descSec,  descSecx {
	 	display: inline-block;
	 	.title {
	 		@titleDiv: 11;
	 		@fontVw : @pixDimVw/@titleDiv;
	 		@fontPx : @pixDimPx/@titleDiv;
	 		font-size: calc(~'-@{fontPx} + @{fontVw}');
	 	}
	 	.author {
	 		display: inline-block;
	 		width: 100%;
	 		@authorDiv: 15;
	 		@fontVw : @pixDimVw/@authorDiv;
	 		@fontPx : @pixDimPx/@authorDiv;
	 		font-size: calc(~'-@{fontPx} + @{fontVw}');
	 		.avImg {
		 		@halfPx : @fontPx/2;
		 		@halfVw : @fontVw/2;
		 		height: calc(~'-@{fontPx} + @{fontVw}');
		 		width: auto;
		 		margin-right: calc(~'-@{halfPx} + @{halfVw}');
		 	}
	 	}
	 }
	}
	padding-bottom :10px;
}

#picScreenFull {
	margin-top : @gap;
	.pView(100);

	@minimalFullWidth : 740px;
	@media screen and ( min-width: @minimalFullWidth) {
		.picBox{
			width: @minimalFullWidth;
			margin: 0 auto;
			float:none;
			@upBoxHeight : @minimalFullWidth - 2 * @gap;
			@pixDim : @upBoxHeight - 2*@borderWidth;
			display: block;
			.descSec, .descSecx {
			 	position: relative;
				display: block;
			 	width: 100%;
			 	@descSecHeigthPx : @pixDim*@descSecHeigth;
			 	height: @descSecHeigthPx;
			 	padding: 0;
			 	top:0;
			 	left: 0;
			 	padding-top: 10px;
			 	.descPan {
			 		float: left;
			 		height: 100%;
			 	}
			 }


			 	

			 	.badgeSec {
				 	position: static;
				 	float: right;
				 	right: 0;
				 	bottom: 0;
				 	.pixPoints {
				 		font-size: @pixDim/10;
				 	}

				 	.pointUpBtt{
				 		font-size: @pixDim/10;
				 		@borderDiv: 60;
				 		@borderPx : @pixDim/@borderDiv;
				 		border-width:  @borderPx;
						width: calc(~'100% - 2*@{borderPx}');
				 		height: calc(~'50% - 2*@{borderPx} + 7px');
				 		margin: @borderPx;
				 		&:hover {
							background-color: @contentContainerFirstColor;
							color: white;
						}
				 	}
				 }


			 .descSec, .descSecx {
			 	display: inline-block;
			 	.title {
			 		font-size: @pixDim/11;
			 	}
			 	.author {
			 		font-size: @pixDim/15;
			 		@authorDiv: 15;
			 		span{
			 			float : left;
			 		}
			 		.avImg {
			 			float : left;
				 		@halfPx : @pixDim/@authorDiv;
				 		height: @halfPx;
				 		width: auto;
				 		margin-right: @halfPx/2;
				 	}
			 	}
			 }




		}
		




			 

			 


			 
			 
	}
	
}

div#picScreenSmall{
		.pView(50);
	}
div#picScreenXsmall{
		.pView(100);
	}



#loginPageCloud {
	
	width: 300px;
    text-align: center;



    .formXStyle;
	
    .bttXStyle;

    img{
    	height: 150px;
    	width: auto;
    }

    button {
    	display: block;
    }
	
	span {
		display: block;
		width: 100%;
	}

	.inputInfo {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}

	& div {
		padding-top: 20px;
	}

    & > div , button, input{

    	width:100%;
    }


    & input {
    	width : 100%;
    }


}


div#newbieMsgg {

	padding-top: 3px;
	font-size: 12px;
	display: inline-block;

	span {

	}

	a{
		color: @navBgColor;


		&:link {
		    text-decoration: none;
		}

		&:visited {
		    text-decoration: none;
		}

		&:hover {
		    text-decoration: underline;
		}

		&:active {
		    text-decoration: underline;
		}
	}
}


#errorPageContent {
	.xpadding;	
}




#noConnectionMesssageContainer {
	.flashContainer ;
	.messageCloud {
		&:first-child {
			margin-top: 0;
		}
		img {
		  display: block;
		  margin: auto;
		}
	}
}


.loadingPanel {
	opacity: 0.6;
	display: flex;
	height: 400px;
	width: 100%;
	justify-content: center;
	align-items: center;
	img{
		height: 150px;
		width: auto;
	}
}



.contentContainer div.homeUploadInfo {
	position: relative;
	margin-right: @gap;
	margin-left: @gap;
	font-size: @fontDefaultSize;
	background-color: @formBg;
	border : none;
	border-top: 2px solid ;
	margin-top: @gap;
	text-align: center;
	.xpadding;
	padding-top:  2*@verticalPaddingLi;
	padding-bottom:  2*@verticalPaddingLi;
	opacity: 0.9;
	.secondColor(@contentContainerFirstColor) ;
	.standardBtt {
		float : none;
		background-color: transparent;
		color: @contentContainerFirstColor;
		border-color: @contentContainerFirstColor;
		&:hover {
			background-color : @contentContainerFirstColor;
			color: @formBg;
		}
	}
	
	.closeCloud {
		position: absolute;
		top : 0; 
		right : 10px;
		opacity: 0.5;
		&:hover {
			opacity: 1.0;
		}

	}
	
}

.myForm {
	.standardNavForm {
		 &:focus {
			text-decoration: none;
			.inputState(@messageInfoColor);
		}
	}
}

#formScreen {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    #picScreenFloat {
    	flex :1;
    	display: flex;
    	justify-content : center;
    	#loginPageCloud {
    		align-self : center;
    	}
    }
}


#userCase {
	margin-left : @gap;
	margin-right : @gap;
	@dgap : 2* @gap;
	padding-bottom: 5px;
	width: calc(~'100% - @{dgap}');
	border-bottom: 1px solid;



	.avImg {
			height : 2 * @smallTitleFontSize;
			vertical-align: middle;
			width: auto;
			padding: 0;
			margin: 0;
			border-radius: 50%;

		}

}


.standardBttBig {
		margin-top: @gap; 
		margin-left: 0; 
		background-color: transparent;

		&:disabled {
			color : lighten(@contentContainerFirstColor, 60%);
			border-color: lighten(@contentContainerFirstColor, 60%);

			&:hover {
				color: lighten(@contentContainerFirstColor, 60%);
				border-color: lighten(@contentContainerFirstColor, 60%);
				background-color: transparent;
				}

		}
		&:hover {
			color : white;
			background-color : @contentContainerFirstColor;
		}
	}



.uploadPanel {
	padding: @gap;
	display: block;
	text-align: center;
	
	

		

	.uploadInput {
		display: none;
	}
}


.uploadScreen {
	position: relative;
	height: 500px;
	width: 100%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');

	.shutter {
		background-color: #000;
		opacity: .5;
		height: 100%;
		width: 100%;

	}

	.uploadIcon {
		position:  absolute;
		padding: 0;
		top :0;
		left: 0;
		margin-top: 125px;
		vertical-align: top;
		width: 100%;
		text-align: center;

		img {
			opacity: 0.5;
			height: 250px;
			width: auto;
		}

		img:hover {
			opacity:  .9;
		}
		
	}
}

.previewScreen {
	display: block;
	text-align: center;
	img {
		height: 700px;
		width: auto;
	}
}

.previewScreenSmall {
	display: block;
	text-align: center;
	img {
		height: calc(100% - 2*@gap - 2*@borderWidth);
		width: auto;
	}
}

#uploadBackBtt {
	display: block;

	margin: 0 auto;
	margin-bottom: @gap;
}


#uploadFormDiv {

	position: relative;
	margin: 0 auto;
	margin-top: @gap; 

	display: block;
	padding: 0;
	display: none;
	
}

.uploadForm {
	.myForm;
	width: 100%;
	margin-left:  0;
	text-align: center;
	border-style: none;
	font-size: @sBttBigScale*@fontDefaultSize ;
	padding: @sBttBigScale*@sBttPaddingVertical;
	padding-right: 0;
	padding-left: 0;
	input[type=text] {
		font-size: @sBttBigScale*@fontDefaultSize ;
		border-right: @formBg 1px solid;
		border-left: @formBg 1px solid;
		border-bottom: @formBg 1px solid;
		
	}
	#updateSubmitBtt {
		margin: 0 auto;
		margin-top:@gap; 
		display: block;
	}
	color: @contentContainerFirstColor;
	background-color: transparent;



}


.underFooter {
	width: 100%;
	margin-left:  0;
	background : @navBgColor;
	position: relative;
	color : @navFontColor;
	overflow : auto;

	a {
		color: @navFontColor;
		text-decoration: none;
	}


	a:visited {
		color: @navFontColor;
	    text-decoration: none;
	}


	a:active {
		color: @navFontColor;
	    text-decoration: none;
	}

	a:hover {
		color: @navFontHoverColor;
		text-decoration: none;
		img {
			opacity:1.0;
		}

	}

	.bigUl {
		li,p,ul{
			margin:0;
			padding:0;
		}

		

		overflow : auto;
		background : @navBgActiveColor;
		position: relative;
		margin: 0 auto;
		.mediaSec;
		>ul{

			p {
				font-size : 1.2*@fontDefaultSize;
				opacity : 0.7;
			}

			padding : 4*@gap;
			padding-top : 4*@gap;
			margin :0;
			list-style-type: none;
			>li, >div {
				padding: @gap;
				padding-top : 0;
				display: inline-block;

				vertical-align: top;

				ul {
					margin-top : @gap;
				}
				
				li, div {
					list-style-type: none;


					
				}

				&:first-child{
			 		padding-left : 0; 
			 	}

			}

			 


		}
		
	}
}

