@navBgColor : #008209;
@navBgActiveColor: darken(@navBgColor, 5%);
@navFontColor :lighten(@navBgColor, 65%);
@navFontHoverColor : white;
@pageFontFam : "Helvetica Neue",Helvetica,Arial,sans-serif;
@fontDefaultSize : 14px;
@navBarPaddding : 60px;

@ScreenWidthBig : 1100px;
@PicScreenWidthBig : @ScreenWidthBig - 100px;
@ScreenWidthSmall : 900px;
@PicScreenWidthSmall : @ScreenWidthSmall - 100px;

.panelA {
	a {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;	
		padding-top: 15px;
		padding-bottom: 15px;
	}
}


.mediaSec {

	@media screen and ( min-width: @ScreenWidthSmall ) {
			width: @PicScreenWidthSmall;
			
		}
	@media screen and ( min-width: @ScreenWidthBig ) {
			width: @PicScreenWidthBig;
			
		}
}



html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family:  @pageFontFam;
	background-color: gray;

}

#contentContainer {
	min-height: calc(~"100% - 70px");
	margin: 0 auto;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: lighten(grey,30%);
	
	.mediaSec;
}





//Components 


#flashContainer {
	margin-right: 10px;
	margin-left: 10px;

	@messageCloudSuccessColor : #008209;
	@messageCloudErrorColor : red;
	@messageCloudInfoColor : blue;
	@firstCloudColor: white;

	.secondColor(@bg) {
		@firstCloudColor : darken(@bg, 10%); 
		color: @firstCloudColor;
		border: 2px solid @firstCloudColor;
	}

	.success {
		background-color: @messageCloudSuccessColor;
		.secondColor(@messageCloudSuccessColor) ;
	}

	.error {
		background-color: @messageCloudErrorColor;
		.secondColor(@messageCloudErrorColor) ;
	}

	.info {
		background-color: @messageCloudInfoColor;
		.secondColor(@messageCloudInfoColor) ;
	}

	.messageCloud {
		border-radius: 2px;
		margin-top: 10px;
		padding: 10px;
		opacity: 0.3;
		&:first-child {
			margin-top: 0px;
		}
	}

	
}



.pointUpBtt {
	order : 1;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 4px; 
	padding: 0;
	font-size: 20px;
	width: calc(~"100% - 8px");
	height: calc(~"50% - 4px"); ;
	color: white;
	background-color: Transparent;
	border: 4px solid white;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	

	&:hover {
		background-color: white;
		
	}


	&:active {
		position: relative;
		top: 1px;
	}
}

.pixPoints {
	order : 2;
	padding: 0;
	text-align: center;
	margin-bottom: 10%;
	width: 100%;
	font-size: 16px;

}



.standardNavBtt {
	margin: 0;
	padding: 0;
	background-color: @navBgColor;
	font-size: @fontDefaultSize ;
	color: @navFontColor;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px; 
	border: 1px solid @navFontColor;
	display: inline-block;
	text-decoration: none;
	float: right;


	&:hover {
		color: @navFontHoverColor;
	}


	&:active {
		position: relative;
		top: 1px;
	}
}


.standardNavForm {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: 0;
	padding: 5px;
	outline: none;

	&:focus {
		text-decoration: none;
		box-shadow: 0px 0px 5px white;
	}
}







.mainNavbar {

	background-color: @navBgColor;
	color: @navFontColor;
	position: fixed;
	font-size: @fontDefaultSize;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
	
	.active {
		pointer-events: none;
		background-color: @navBgActiveColor;
	}




	#navContent {
		position: relative;
		margin: 0 auto;
		padding: 0;
		.mediaSec;

	}

	#navLogo {
		float: left;
		.panelA;

		a { 
			margin:0;
			padding-top : 0;
			padding-bottom : 0;
			img {
				vertical-align: top;
				padding: 0;
				margin: 0;
			}
		}
	}

	ul {
    	list-style-type: none;
	}

	div, li {
		margin: 0;
		padding: 0;
		
		
	}

	#leftSidePanel {

    	margin: 0;
    	padding: 0;
    	li {
    		float: left;
    		text-align: center;
		}
		.panelA;
	}


	#rightSidePanel {

		margin: 0;
    	padding: 0;
    	li {
    		float: right;
    		text-align: center;	
		}
		.panelA;
	}

	a:link {
		color: @navFontColor;
		text-decoration: none;
	}



	a:visited {
		color: @navFontColor;
	    text-decoration: none;
	}


	a:active {
		color: @navFontColor;
	    text-decoration: none;
	}

	a:hover {
		color: @navFontHoverColor;
		text-decoration: none;
	}
	
	#loginShadow {
		display:none;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index:-1;
	}
	


	#loginCloud {
		display:none;
		position: absolute;
		top: 46px;
	    right: 0;
		padding: 5px;
		float: right;
		background-color: @navBgColor;
		color: @navFontColor;

	}

	#loginCloud > form > div {
		margin: 10px;
	}


	


    
}



.galleryContainer {
	position: fixed;
	left:0;
    top:0;
	width:100%; 
	height : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}


.imgCloud {
	padding: 10px;
	position:absolute;
    left: calc(~"50% - 250px"); 
    top: calc(~"50% - 250px");
    background-color:white;
}


#picScreen {
	.imgSec {
		
		-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
    	transition: width 1s,height 1s;
    	img {
    		display: none;
    		-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
    		transition: width 1s,height 1s;
    	}
	}

	.descSec {
		display: none;
		position: absolute;
    	left: 10px;
    	bottom: 10px;
    	background-color:  rgba(0, 0, 0, 0.4);;
    	color: white;
    	height: calc(~"50% - 20px");
    	width: calc(~"100% - 30px");
		padding: 5px;

    	.descPan {
    		width: calc(~"100%-10px");
    		height: 100%;
    		.title {
				height: calc(~"70% - 5px");
    			width: calc(~"75% - 10px");
    			margin-bottom: 10px;
    		}

    		.author {
    			height: 30%;
    			width: calc(~"75% - 10px");
    		}
    	}
	}



	.badgeSec {
		display: flex; 
		align-content: flex-end;
		flex-direction: column-reverse;
		width: 25%;
		height: calc(~"100% - 10px");
		position: absolute;
    	right: 5px;
    	bottom: 5px;
		font-size: 30px;
    	border-left: 1px solid white;
	}


}

