@gap : 10px;
@borderWidth : 10px;

#picScreen {
	
	 &.picScreenPoczekalnia {
	
		&:after{
		    clear: both;
		    content: "";
		    display: block;
		}
		
		.upBox {
			position: relative;
			margin-top:@gap;
			margin-left: @gap; 
			float: left;
			display: block;

		}
		

		.picBox { 
			position: relative;
			display: block;
			padding:  @borderWidth;
			float : left;
			background-color: white;
			-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
	    		transition: width 1s,height 1s;
		}

	}

}