<h4>Baza danych</h4>
  <form id="optionFormDb" class="form-horizontal">
    <div class="form-group">
      <label for="dbUser" class="col-sm-2 control-label">
        użytkownik
      </label>
      <div class="col-sm-3">
        <input  type="text" id = "dbUser" name="dbUser" class="form-control" value = <%= db.user %>>
      </div>
      </div>
    <div class="form-group">
      <label for="dbPassword" class="col-sm-2 control-label">
        hasło
      </label>
      <div class="col-sm-3">
        <input  type="password" id="dbPassword" name="dbPassword" class="form-control"  value = <%= db.password %> >
      </div>

      <label for="dbPasswordConfirm" class="col-sm-2 control-label">
        powtórz hasło
      </label>
      <div class="col-sm-3">
        <input  type="password" id="dbPasswordConfirm" name="dbPasswordConfirm" class="form-control"  value = <%= db.password %> >
      </div>

    </div>
    <div class="form-group">
      <label for="dbUri" class="col-sm-2 control-label">
        URI
      </label>
      <div class="col-sm-8">
        <input  type="text" class="form-control" id="dbUri" name="dbUri" value = <%= db.uri %> >
      </div>
    </div>
    <span id='formDbMessageGlobal'></span>
    <span id='formDbMessageUser'></span>
    <span id='formDbMessagePassword'></span>
    <span id='formDbMessagePasswordConfirm'></span>
    <span id='formDbMessageUri'></span>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id = "optionFormDbSubmit" class="btn btn-default">Ustaw</button>
      </div>
    </div>
  </form>