<h5 class="col-sm-12">Testowa baza danych</h5>
	<div class="form-group">

      <label for="dbUser" class="col-sm-2 control-label">
        użytkownik
      </label>
      <div class="col-sm-3">
        <input  type="text" id = "showcaseDbUser" name="dbUser" class="form-control" value = <%= showcaseTestConf.db.user %>>
      </div>
    </div>
    <div class="form-group">
      <label for="dbPassword" class="col-sm-2 control-label">
        hasło
      </label>
      <div class="col-sm-3">
        <input  type="password" id="showcaseDbPassword" name="dbPassword" class="form-control"  value = <%= showcaseTestConf.db.password %> >
      </div>

      <label for="dbPasswordConfirm" class="col-sm-2 control-label">
        powtórz hasło
      </label>
      <div class="col-sm-3">
        <input  type="password" id="showcaseDbPasswordConfirm" name="dbPasswordConfirm" class="form-control"  value = <%= showcaseTestConf.db.password %> >
      </div>
  </div>
  <div class="form-group">
      <label for="dbUri" class="col-sm-2 control-label">
        URI
      </label>
      <div class="col-sm-8">
        <input  type="text" class="form-control" id="showcaseDbUri" name="dbUri" value = <%= showcaseTestConf.db.uri %> >
      </div>
  </div>