<!DOCTYPE html>
<html>
  <head>
    <title>PixKettle | <%= title%></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
      <div id="xCont">
        
      </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="javascripts/demo.js"></script> -->
</html>
