<% var path ="/javascripts/"  %> 
<% if(locals.page && (page=="singlePicture" || page == "singleUser")) path = "../javascripts" %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PixKettle | <%= title%></title>
	<link rel="icon" href="../../favicon.ico">
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<%if (title == 'Poczekalnia') {%> 
		<link rel='stylesheet' href='/stylesheets/poczekalnia.css' />
	<%}%>
	<%if (title == 'Główna') {%> 
		<link rel='stylesheet' href='/stylesheets/home.css' />
	<%}%>
	
</head>
<body>
	<% include navbar %> 
	<div class="contentContainer">
		<div class="picScreen" id="picScreenFloat">
			<div id="errorPageContent">
				<span class="bigTitle"><%= error.status %> : <%= message %></span>
				<div class="messageCloud error">
					<pre><%= error.stack %></pre>
				</div>
			</div>
		</div>
		<footer>
			<div>K.Kors 2015 $</div>
		</footer>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="<%= path %>/navbar.js"></script>
  <script src="<%= path %>/style.js"></script>
  <script src="<%= path %>/universal.js"></script>
  <%if (title == 'Poczekalnia') {%> 
		<script src="<%= path %>/poczekalnia.js"></script>
	<%}%>

	 <%if (title == 'Główna') {%> 
		<script src="<%= path %>/home.js"></script>
	<%}%>
	<%if (locals.page && page == 'register') {%>
		<script src="<%= path %>/register.js"></script>
	<%}%> 
	<%if (locals.page && page == 'singleUser') {%>
		<script>
				var userId = "<%= userPage._id%>";
		</script>
		<script src="<%= path %>/userPage.js"></script>
	<%}%> 
</body>
</html>


