<h4>Obrazy</h4>
<form id="optionFormImg" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Gdzie zapisywać obrazy?
    </label>
    <label class="radio-inline">
      <input type="radio"  id="imgRadioLocal" class='imgRadio' name = "imgRadio" value="local"
        <%if (img.local) { %>
          checked
        <% } %>> 
      serwer aplikacji
    </label>
    <label class="radio-inline">
      <input type="radio"  id="imgRadioImgur" class='imgRadio' name='imgRadio' value="imgur" 
        <%if (!img.local) { %>
          checked
        <% } %>> 
      IMGUR
    </label>
  </div>
  <div class="form-group">
    <label for="imgClient-ID" class="col-sm-2 control-label">
      client-ID
    </label>
    <div class="col-sm-8">
      <input  type="text" class="form-control" id="imgClient-ID" name="imgClientID" value = "<%= img["client-ID"] %>"
        <%if (img.local) { %>
          disabled
        <% } %>
        > 
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id = "optionFormImgSubmit" class="btn btn-default">Ustaw</button>
    </div>
  </div>
</form>