<form action="" method ='POST' id='loginForm'>
            <div>
            <input id = "loginCloudNameInput"  type="text" name = 'login' class = "standardInput navInput" placeholder="login">
          </div>
          <div>
            <input type="password" id = "loginCloudPasswordInput"  name = 'password' class = "standardInput navInput" placeholder="hasło">
          </div>
          <div>
            <button type='submit' href="#" class="standardBtt navBtt" id='loginNavBtt'>loguj</a>
          </div>
          </form>