
			<form action="/login" method='POST' id = "loginPageCloud">
					<span class="smallTitle">Zaloguj się</span>

				<div>
					<img src="/images/loginLogo.png" alt="ll">
				</div>
				<div id='formMessageGlobalCon'>
					<div id='formMessageGlobal' class="success">ello</div>
				</div>
				<div>
					<input class='standardInput' type="text" name= 'login' placeholder = 'Login' id="loginInput">
					
				</div>
				<div>
					<input class='standardInput' name ='password' type="password" placeholder='Hasło' id="passwordInput">
					
				</div>
				<div>
					<button type= 'submit' id = 'loginPageBtt' class='standardBtt'>Zaloguj się</button>
				</div>
				<div id='newbieMsgg'>
					<span>Nowy na PixKettle? <a href="/rejestracja">Zarejestruj się</a></span>
				</div>
			</form>