<navbar class="mainNavbar">
      <div id="navContent">
        <div id="logoPanel">
          <div id="navLogo" 
            <%if (locals.page && page == 'home' ) { %>
                class= "active"
            <% } %>
          ><a href="/">
            <img src="/images/sLogo.png" alt="slogo">
          </a>
          </div>
          <button  class="mobileDropDown"></button>      
        </div>
        <div id="panels">
        <ul id="leftSidePanel">
          <li
          <%if (locals.page && page == 'anteroom' ) { %>
              class= "active"
            <% } %> 
          >
            <a href="/poczekalnia">poczekalnia</a>
          </li>
        </ul>
        <ul id="rightSidePanel">

              <li style = "position:relative" 
              <%if (locals.page && page == 'login' ) { %>
               class="menuDropDown  xactive" >
              <% } else { %>
                class="menuDropDown" >
              <% } %>
                <div  class = "active" id="loginShadow" ></div>
                <a id= "loginNav"  href="/login">
                  <span>loguj </span>
                </a>
              </li>
              </ul>
                
        </div>
       

      </div>
</navbar>