<h5 class="col-sm-12">Inne</h5>
  <div class="form-group">
  	<label for="testPeriod" class="col-sm-2 control-label">
        czas trwania testu
    </label>
    <div class="col-sm-3">
    	<div class="input-group" >
	      <input type="number" class="form-control" name="testPeriod" id="showcaseTestPeriod" min="1" max="120" value = <%= parseInt(showcaseTestConf.testPeriod / 60000) %>>
	      <div class="input-group-addon">min</div>
	    </div>
    </div>
    <label for="expiration" class="col-sm-2 control-label">
       czas ważności
    </label>
    <div class="col-sm-3">
    	<div class="input-group" >
	      <input type="number" class="form-control" name="expiration" min="1" max="120" id="showcaseExpiration" value = <%= parseInt(showcaseTestConf.expiration / 60000) %>>
	      <div class="input-group-addon">min</div>
	    </div>
    </div>
</div>
<div class="form-group">
    <label for="pixAdding" class="col-sm-2 control-label">
       dodawanie obrazków
    </label>
    <div class="col-sm-2">
    	<select class="form-control" name="pixAdding" id = "showcasePixAdding">
		  <option class ='trueSelect' value ='true' <%if (showcaseTestConf.pixAdding) { %>
          selected ="selected"
        <% } %>>tak</option>
      <option class ='falseSelect' value ='false' <%if (!showcaseTestConf.pixAdding) { %>
          selected ="selected"
        <% } %>>nie</option>
		</select>
	</div>
	<div class="col-sm-1" ></div>
	<label for="pixPlus" class="col-sm-2 control-label">
       plusowanie obrazków
    </label>
    <div class="col-sm-2">
    	<select class="form-control" name="pixPlus" id = "showcasePixPlus">
		  <option class ='trueSelect' value ='true' <%if (showcaseTestConf.pixPlus) { %>
          selected ="selected"
        <% } %>>tak</option>
		  <option class = 'falseSelect' value ='false' <%if (!showcaseTestConf.pixPlus) { %>
          selected ="selected"
        <% } %>>nie</option>
		</select>
	</div>
</div>
<div class="form-group">
  <label for="clearCollection" class="col-sm-2 control-label">
     wyczyść bazę
  </label>
  <div class="col-sm-2">
    <select class="form-control" name="clearCollections" id = "showcaseClearCollections">
    <option class ='trueSelect' value ='true' <%if (showcaseTestConf.clearCollections) { %>
        selected ="selected"
      <% } %>>tak</option>
    <option class ='falseSelect' value ='false' <%if (!showcaseTestConf.clearCollections) { %>
        selected ="selected"
      <% } %>>nie</option>
    </select>    
  </div>
  <div class="col-sm-1" ></div>
  <label for="numberOfUsers" class="col-sm-2 control-label">
       liczba użytkowników
    </label>
    <div class = "col-sm-3">
        <input type="number" class="form-control" name="numberOfUsers" min="1" max="100" id="showcaseNumberOfUsers" value = <%= showcaseTestConf.numberOfUsers %>>
    </div>
</div>