
	<div class="picBox" id="<%= pic._id %>">
		<div class="imgSec">
			<img src="<%= pic.src %>" style="display: inline;">
		</div>
		<div class="descSec">
			<div class="descPan">
				<div class="title" ><%= pic.title %></div>
				<div class="author">
					<a href="../../u/<%= pic.author %>">
						<img class="avImg" src="<%= pic.authorAvatar || '/images/av.png' %>" alt="av">
						<span><%= pic.author %></span>
					</a>
				</div>
			</div>
			<div class="badgeSec">
				<div class="pixPoints"><%= pic.points %></div>
				<button class="pointUpBtt" id="btt<%= pic._id %>">
					<span>+</span>
				</button>
			</div>
		</div>
	</div>
