<h5 class="col-sm-12">Dodawanie obrazków</h5>
<div class="form-group">
  <label for="pixAddingStyle" class="col-sm-2 control-label">
       sposób dodania
    </label>
    <div class="col-sm-3">
      <select class="form-control" name="pixAddingStyle" id = "showcasePixAddingStyle" <%if (!showcaseTestConf.pixAdding) { %>
        disabled
      <% } %>>
      <option class ='sameTime' value ='sameTime'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.style == 'sameTime') { %>
        selected ="selected"
      <% } %>
      >naraz</option>
      <option class ='random' value ='random' 
          <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.style == 'random') { %>
          selected ="selected"
        <% } %>
      >w losowycho odstępach</option>
      <option class ='constant' value ='constant'
          <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.style == 'constant') { %>
          selected ="selected"
        <% } %>
      >w stałych odstępach</option>
    </select>
  </div>
  <label class="col-sm-2 control-label">
      metoda
    </label>
    <label class="radio-inline">
      <input type="radio"  id="showcasePixAddingIsNumberTrue" class='pixAddingIsNumber' name = "pixAddingIsNumber" value="true"
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.isNumber) { %>
          checked
        <% } %>
        <%if (!showcaseTestConf.pixAdding  ||  showcaseTestConf.pixAddingConf.style == 'sameTime') { %>
        disabled
      <% } %>> 
      liczba obrazków
    </label>
    <label class="radio-inline">
      <input type="radio"  id="showcasePixAddingIsNumberFalse" class='pixAddingIsNumber' name='pixAddingIsNumber' value="false" 
        <%if (!(showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.isNumber)) { %>
          checked
        <% } %>
        <%if (!showcaseTestConf.pixAdding   ||  showcaseTestConf.pixAddingConf.style == 'sameTime') { %>
        disabled
      <% } %>
        > 
      szybkość dodawania
    </label>
  </div>
  <div class="form-group">
  <label for="pixAddingSpeed" class="col-sm-2 control-label">
       szybkość dodawania
    </label>
    <div class="col-sm-3">
      <select class="form-control" name="pixAddingSpeed" id = "showcasePixAddingSpeed" <%if (!showcaseTestConf.pixAdding || showcaseTestConf.pixAddingConf.isNumber || showcaseTestConf.pixAddingConf.style == 'sameTime' ) { %>
        disabled
      <% } %>>

      <option class ='15000' value ='15000'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.speed == 15000) { %>
        selected ="selected"
      <% } %>
      >4/min</option>
      <option class ='30000' value ='30000'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.speed == 30000) { %>
        selected ="selected"
      <% } %>
      >2/min</option>
      <option class ='60000' value ='60000'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.speed == 60000) { %>
        selected ="selected"
      <% } %>
      >1/min</option>
      <option class ='120000' value ='120000'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.speed == 120000) { %>
        selected ="selected"
      <% } %>
      >1/2min</option>
      <option class ='240000' value ='240000'
        <%if (showcaseTestConf.pixAdding && showcaseTestConf.pixAddingConf.speed == 240000) { %>
        selected ="selected"
      <% } %>
      >1/4min</option>
     
    </select>
  </div>
  <label for="PixAddingNumberOfPixs" class="col-sm-2 control-label">
       liczba obrazków
    </label>
    <div class = "col-sm-3">
        <input type="number" class="form-control" name="pixAddingNumberOfPixs" min="1" max="100" id="showcasePixAddingNumberOfPixs"
        <%if (showcaseTestConf.pixAddingConf && showcaseTestConf.pixAddingConf.numberOfPixs) { %>
         value = <%= showcaseTestConf.pixAddingConf.numberOfPixs %> 
         <% } else { %>
         value = 1
         <% } %>
        <%if (!showcaseTestConf.pixAdding || showcaseTestConf.pixAddingConf.isNumber === false) { %>
        disabled
      <% } %>>
    </div>
</div>