<h5 class="col-sm-12">Plusowanie obrazków</h5>
<div class="form-group">
   <label for="pixPlusStyle" class="col-sm-2 control-label">
       sposób plusowania
    </label>
    <div class="col-sm-3">
      <select class="form-control" name="pixPlusStyle" id = "showcasePixPlusStyle" <%if (!showcaseTestConf.pixPlus) { %>
        disabled
      <% } %>>
      <option class ='random' value ='random'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.style == 'random') { %>
          selected ="selected"
        <% } %>
      >w losowycho odstępach</option>
      <option class ='constant' value ='constant'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.style == 'constant') { %>
          selected ="constant"
        <% } %>
      >w stałych odstępach</option>
    </select>
  </div>
 <label class="col-sm-2 control-label">
      metoda
    </label>
    <label class="radio-inline">
      <input type="radio"  id="showcasePixPlusIsNumberTrue" class='pixPlusIsNumber' name = "pixPlusIsNumber" value="true"
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.isNumber) { %>
          checked
        <% } %>
        <%if (!showcaseTestConf.pixPlus ) { %>
        disabled
      <% } %>> 
      liczba plusów
    </label>
    <label class="radio-inline">
      <input type="radio"  id="showcasePixPlusIsNumberFalse" class='pixPlusIsNumber' name='pixPlusIsNumber' value="false" 
        <%if (!(showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.isNumber)) { %>
          checked
        <% } %>
        <%if (!showcaseTestConf.pixPlus ) { %>
        disabled
      <% } %>> 
      szybkość plusowania
    </label>
  </div>
  <div class="form-group">
  <label for="pixPlusSpeed" class="col-sm-2 control-label">
       szybkość plusowania
    </label>
    <div class="col-sm-3">
      <select class="form-control" name="pixPlusSpeed" id = "showcasePixPlusSpeed" <%if (!showcaseTestConf.pixPlus || showcaseTestConf.pixPlusConf.isNumber) { %>
        disabled
      <% } %>>
     <option class ='15000' value ='15000'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.speed == 15000) { %>
        selected ="selected"
      <% } %>
      >4/min</option>
      <option class ='30000' value ='30000'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.speed == 30000) { %>
        selected ="selected"
      <% } %>
      >2/min</option>
      <option class ='60000' value ='60000'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.speed == 60000) { %>
        selected ="selected"
      <% } %>
      >1/min</option>
      <option class ='120000' value ='120000'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.speed == 120000) { %>
        selected ="selected"
      <% } %>
      >1/2min</option>
      <option class ='240000' value ='240000'
        <%if (showcaseTestConf.pixPlus && showcaseTestConf.pixPlusConf.speed == 240000) { %>
        selected ="selected"
      <% } %>
      >1/4min</option>
    </select>
  </div>
  <label for="PixPlusNumberOfPlus" class="col-sm-2 control-label">
       liczba plusów
    </label>
    <div class = "col-sm-3">
        <input type="number" class="form-control" name="pixPlusNumberOfPlus" min="1" max="500" id="showcasePixPlusNumberOfPlus" <%if (showcaseTestConf.pixPlusConf && showcaseTestConf.pixPlusConf.numberOfPlus) { %>
         value = <%= showcaseTestConf.pixPlusConf.numberOfPlus  %> 
         <% } else { %>
         value = 1
         <% } %>
        <%if (!showcaseTestConf.pixPlus || !showcaseTestConf.pixPlusConf.isNumber) { %>
        disabled
      <% } %>>
    </div>
</div>