
		
		<form class ="myForm" action="/rejestracja" id = "registerForm" method="POST">
			<span class="smallTitle">Utwórz konto na PixKettle</span>
			<div id='formMessageGlobalCon'>
				<div id='formMessageGlobal'>
					
				</div>
			</div>

			<div>
				<label>login</label>
				<input class='standardInput' name='login' type="text"  id="loginInput">
				<span id='formMessageLogin' class="inputInfo"></span>
			</div>
			<div>
				<label for="passwordInput">hasło</label>
				<input class='standardInput' name='password' type="password" id="passwordInput" >
				<span id='formMessagePassword' class="inputInfo"></span>
			</div>
			<div>
				<label for="passwordConfirmInput">powtórz hasło</label>
				<input class='standardInput' name = "passwordConfirm" type="password" id="passwordConfirmInput">
				<span id='formMessagePasswordConfirm' class="inputInfo"></span>
			</div>
			<div class='buttonContainer'>
				<button id='registerSubmit' class='standardBtt'>Zarejestruj się</button>
			</div>
		</form>
			
	

	 
