<h4>Showcase Demo Test</h4>
<form id="showcaseDemoTestForm" class="form-horizontal">
	<% include dbSec %>
  <% include otherSec %>
<% include pixAddingSec %>
<% include pixPlusSec %>
<div class="form-group">
    <div class="col-sm-10">
      <button type="submit" id = "showcaseStartBtt" class="btn btn-default  col-sm-2 pull-right">Start</button>
      <button type="submit" id = "showcaseSetBtt" class="btn btn-default  col-sm-2 pull-right">Ustaw</button>
      <button type="button" id = "showcaseRefreshBtt" class="btn btn-default  col-sm-1 pull-right">
        <span class="glyphicon glyphicon-refresh"></span>  
      </button>
    </div>
 	</div>
</form>
<% include startedTestTable %>