<% var path ="/javascripts/"  %> 
<% if(locals.page && (page=="singlePicture" || page == "singleUser")) path = "../javascripts" %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PixKettle | <%= title%></title>
	<link rel="icon" href="../../favicon.ico">
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<link rel='stylesheet' href='/stylesheets/poczekalnia.css' />
	<%if (locals.page && page == 'home') {%> 
		<link rel='stylesheet' href='/stylesheets/home.css'/>
	<%}%>
	<%if (locals.page && page == 'login') {%> 
		<link rel='stylesheet' href='/stylesheets/login.css' />
	<%}%>
</head>
<body>
	<% include navbar %> 

	<div class="contentContainer">
		 <div  id="flashContainer">
		 	<!--
		 	<div  role="alert" class="messageCloud success">Incorrect username.</div>
		 	<div  role="alert" class="messageCloud error">Incorrect username.</div>
			<div  role="alert" class="messageCloud info">Incorrect username.</div>
			 -->
      </div>
      <%if (locals.page && page == 'singleUser') {%>
			<% include userForm %> 
		<%}%> 
		<% /*<div style="text-align : center; opacity : 0.6;"> 
			<img src="/images/loadingKettle2.gif" alt="loading ...">
		</div>*/ %>
      
		<div class="picScreen" id ="picScreenFloat">
		 	
			<%if (locals.page) {%>
				<%if (page == 'upload') {%>
					<% include upload2 %> 
				<%}%> 
				<%if (page == 'register') {%>
					<% include rejestracja %> 
				<%}%> 
				<%if (page == 'singlePicture') {%>
					<% include picForm %> 
				<%}%>
				<%if (page == 'userOption') {%>
					<% include userOptionForm %> 
				<%}%>  
				<%if (page == 'login') {%>
					<% include login %> 
				<%}%> 
			<%}%> 

		</div>
		<div>
			<% if(locals.page && ( page == 'anteroom' ||   page == 'singleUser')) {%>
				<button id='loadMore'>load more</button>
			<% } %>
		</div>
		<% include footer %> 
	</div>
	<% include underFooter %>
	<script src="<%= path %>/myAppObjModule.js"></script>
	<script>
		myAppObj.page = '<%= page %>';
		myAppObj.client= <%-JSON.stringify(clientObj)%>;
		 <% if(locals.fMessages) { %>
		 myAppObj.startFlashMessages= <%-JSON.stringify(fMessages)%>;
		 <% } %>
		  <% if(locals.uploaded) { %>
		 myAppObj.uploaded= <%-JSON.stringify(uploaded)%>;
		 <% } %>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="<%= path %>/main.js"></script>
  <script src="<%= path %>/navbar.js"></script>
  <script src="<%= path %>/animationEngine.js"></script>
  <script src="<%= path %>/style.js"></script>
  <script src="<%= path %>/universalTools.js"></script>
  <script src="<%= path %>/navbarTools.js"></script>
  <script src="<%= path %>/screenTools.js"></script>
  <script src="<%= path %>/picScreen.js"></script>
  <script src="<%= path %>/flashMessage.js"></script>
  <script src="<%= path %>/plusingSocket.js"></script>
  <script src="<%= path %>/infoSocket.js"></script>
	<link  href="/cropper/dist/cropper.css" rel="stylesheet">
	<script src="/cropper/dist/cropper.js"></script>
  <%if (title == 'Poczekalnia') {%> 
		<script src="<%= path %>/poczekalnia.js"></script>
	<%}%>
	 <%if (locals.page && page == 'home') {%> 
		<script src="<%= path %>/home.js"></script>
		<script src="<%= path %>/homeSockets.js"></script>
	<%}%>
	<%if (locals.page && page == 'register') {%>
		<script src="<%= path %>/register.js"></script>
	<%}%> 
	<%if (locals.page && page == 'singlePicture') {%> 
		<script src="<%= path %>/picPage.js"></script>
	<%}%> 
	<%if (locals.page && page == 'login') {%> 
		<script src="javascripts/loginPage.js"></script>
	<%}%> 
	<%if (locals.page && page == 'singleUser') {%>
		<script src="<%= path %>/userPage.js"></script>
		<script>
				var usId= "<%= userPage._id%>";
		</script>
	<%}%> 
	<script src="<%= path %>/upload2.js"></script>

</body>
</html>