<div class="underFooter">
	<div class = "bigUl">
		<ul>
			<li>
				<p>mapa strony</p>
				<ul>
					<li>
						<a href="/">główna</a>
					</li>
					<li>
						<a href="/poczekalnia">poczekalnia</a>
					</li>
					<li>
						<a href="/login">logowanie</a>
					</li>
					<li>
						<a href="/rejestracja">rejestracja</a>
					</li>
					<li>
						<a href="/upload">wysyłanie</a>
					</li>
				</ul>
			</li>
			<li>
				<p>projekt</p>
				<ul>
					<li>
						<a href="https://bitbucket.org/kacperkorszun/tswpicsapppublic">repozytorium projektu</a>
					</li>
					<li>
						<a href="https://github.com/gathaspar">github autora</a>
					</li>
					<li>
						<a href="mailto:kacperkorszun@gmail.com">email</a>
					</li>
				</ul>
			</li>
			<li>
				<p>technologie</p>
				<ul>
					<li>
						<a href="https://nodejs.org/en/">node.js</a>
					</li>
					<li>
						<a href="https://www.mongodb.org">mongoDb</a>
					</li>
					<li>
						<a href="http://jquery.com">JQuery</a>
					</li>
					
				</ul>
			</li>
		</ul>
	</div>
</div>

	