
<div class="uploadPanel">
	<div class="uploadScreen">
		<div class="shutter">
			
		</div>
		<div class = 'uploadIcon'>
			<img src="images/upload.png"   alt="upload">
		</div>
		
		
	</div>
	<button  class = 'standardBttBig' id='uploadButton'> dodaj </button>
	<button  class = 'standardBttBig' id='setButton' disabled="disabled"> ustaw </button>
	
		<input type="file" name ='image'  accept="image/*"  class ='uploadInput' capture>
		
	
</div>

<div id = 'uploadFormDiv'>
	<button  class = 'standardBttBig' id='uploadBackBtt'> wróc do wyboru obrazka </button>
	<div class="picBox">
		<div class="imgSec">
			<canvas></canvas>
		</div>
	</div>
	<form   class = 'uploadForm'>
		<label>tytuł</label>
		<input class='standardInput' name='title' type="text" placeholder = 'tytuł' id="titleInput">
		<label for="">kolor wypełnienia</label>
		<input type="color" id="html5colorpicker" class="form-control" >
		<input type="submit" id='updateSubmitBtt' class = 'standardBttBig'  value = 'wyślij'>
	</form>
</div>
