
		
		<form class ="myForm" action="/rejestracja" id = "registerForm" method="POST">
			<span class="bigTitle">Opcje</span>
			<div id='formMessageGlobalCon'>
				<div id='formMessageGlobal'>
					
				</div>
			</div>

			<span class="smallTitle">hasło</span>
			<div>
				<label>stare hasło</label>
				<input class='standardInput' name='login' type="text"  id="loginInput">
				<span id='formMessageLogin' class="inputInfo"></span>
			</div>
			<div>
				<label>nowe hasło</label>
				<input class='standardInput' name='login' type="text"  id="loginInput">
				<span id='formMessageLogin' class="inputInfo"></span>
			</div>
			<div>
				<label>powtórz hasło</label>
				<input class='standardInput' name='login' type="text"  id="loginInput">
				<span id='formMessageLogin' class="inputInfo"></span>
			</div>
			<div class='buttonContainer'>
				<button id='registerSubmit' class='standardBtt'>Zmień hasło</button>
			</div>
			<br><br>
			<span class="smallTitle">avatar</span>
			
			<div class='buttonContainer'>
				<button id='registerSubmit' class='standardBtt'>Zmień avatar</button>
			</div>


			
		</form>
			
	

	 
