<div id='userCase'>
	 <%if (userPage.avatar) { %>
      <img class = "avImg" src="<%= userPage.avatar %>" alt="av">
    <% } else { %>
      <img class = "avImg" src="/images/av.png" alt="av">
    <% } %>
	<span class="smallTitle">
		
		<%= userPage.login%>
	</span>
</div>

