html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #e6e6e6;
}
@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
}
.xpadding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.smallPadding {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.panelA li,
.panelA div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 700px) {
  .mediaSec {
    width: 650px;
  }
}
@media screen and (min-width: 900px) {
  .mediaSec {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .mediaSec {
    width: 1000px;
  }
}
.mainNavbar {
  background-color: #6f5499;
  color: rgba(255, 255, 255, 0.7);
  position: fixed;
  font-size: 14px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #271e36;
}
.mainNavbar #navContent {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 700px) {
  .mainNavbar #navContent {
    width: 650px;
  }
}
@media screen and (min-width: 900px) {
  .mainNavbar #navContent {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .mainNavbar #navContent {
    width: 1000px;
  }
}
.mainNavbar .avImg {
  height: 24px;
  vertical-align: top;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
.mainNavbar .active {
  pointer-events: none;
  background-color: #574278;
}
.mainNavbar #navLogo {
  float: left;
  width: auto;
  position: relative;
}
.mainNavbar .mobileDropDown {
  display: none;
}
.mainNavbar .cleanPanel li,
.mainNavbar .cleanPanel div {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  height: 100%;
}
.mainNavbar .cleanPanel li img,
.mainNavbar .cleanPanel div img {
  vertical-align: top;
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}
.mainNavbar .cleanPanel #navLogo a {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 700px) {
  .mainNavbar .menuDropDown a span::after {
    content: "▼";
  }
  .mainNavbar ul#userCloud {
    display: none;
  }
}
.mainNavbar #logoPanel {
  margin: 0;
}
.mainNavbar #logoPanel div {
  vertical-align: middle;
  float: left;
  text-align: center;
}
.mainNavbar #logoPanel div a {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainNavbar #logoPanel li,
.mainNavbar #logoPanel div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainNavbar #logoPanel li,
.mainNavbar #logoPanel div {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  height: 100%;
}
.mainNavbar #logoPanel li img,
.mainNavbar #logoPanel div img {
  vertical-align: top;
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}
.mainNavbar #logoPanel #navLogo a {
  margin: 0;
  padding: 0;
}
.mainNavbar #logoPanel #navLogo {
  height: 46px;
}
.mainNavbar #leftSidePanel {
  margin: 0;
}
.mainNavbar #leftSidePanel li {
  vertical-align: middle;
  float: left;
  text-align: center;
}
.mainNavbar #leftSidePanel li a {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainNavbar #leftSidePanel li,
.mainNavbar #leftSidePanel div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainNavbar #rightSidePanel {
  margin: 0;
  float: right;
}
.mainNavbar #rightSidePanel li,
.mainNavbar #rightSidePanel div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainNavbar #rightSidePanel li {
  vertical-align: middle;
  float: left;
  text-align: center;
}
.mainNavbar #rightSidePanel li a {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainNavbar #rightSidePanel li a#user {
  padding: 0;
}
.mainNavbar #rightSidePanel li a#user span {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainNavbar #rightSidePanel .userLiPanel {
  width: 160px;
}
.mainNavbar #rightSidePanel .userLiPanel a,
.mainNavbar #rightSidePanel .userLiPanel button {
  float: right;
}
.mainNavbar #rightSidePanel button {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  background-color: #6f5499;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border-style: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mainNavbar #rightSidePanel button::after {
  content: "▼";
}
.mainNavbar ul {
  vertical-align: middle;
  list-style-type: none;
}
.mainNavbar div,
.mainNavbar li {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.mainNavbar a:link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.mainNavbar a:link img {
  opacity: 0.7;
}
.mainNavbar a:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.mainNavbar a:active {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.mainNavbar a:hover {
  color: white;
  text-decoration: none;
}
.mainNavbar a:hover img {
  opacity: 1.0;
}
.mainNavbar div#loginShadow {
  padding: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.mainNavbar #loginCloud {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  padding: 5px;
  float: right;
  background-color: #6f5499;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #271e36;
}
.mainNavbar #userCloud {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 46px;
  right: 0;
  float: right;
  background-color: #6f5499;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #271e36;
}
.mainNavbar #userCloud li,
.mainNavbar #userCloud div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainNavbar #userCloud li {
  width: 160px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  float: none;
  text-align: center;
}
.mainNavbar #loginCloud > form > div {
  margin: 10px;
}
@media screen and (max-width: 700px) {
  .mainNavbar {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mainNavbar .xactive {
    background-color: #574278;
  }
  .mainNavbar #navContent {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: left;
  }
  .mainNavbar #navContent #logoPanel {
    float: left;
    width: 100%;
    display: inline-block;
  }
  .mainNavbar #navContent #logoPanel #navLogo {
    float: left;
    display: inline-block;
  }
  .mainNavbar #navContent #logoPanel .mobileDropDown {
    margin: 0;
    padding: 0;
    background-color: #6f5499;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    display: inline-block;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px verticalPaddingText;
    float: right;
  }
  .mainNavbar #navContent #logoPanel .mobileDropDown::after {
    content: "▼";
  }
  .mainNavbar #navContent .xli li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .mainNavbar #navContent .xli li a {
    margin: 0;
    width: 100%;
  }
  .mainNavbar #navContent #panels {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mainNavbar #navContent #leftSidePanel {
    position: static;
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    display: inline-block;
  }
  .mainNavbar #navContent #leftSidePanel li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .mainNavbar #navContent #leftSidePanel li a {
    margin: 0;
    width: 100%;
  }
  .mainNavbar #navContent #rightSidePanel {
    position: static;
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    display: block;
  }
  .mainNavbar #navContent #rightSidePanel li.userLiPanel {
    width: 100%;
  }
  .mainNavbar #navContent #rightSidePanel li.userLiPanel button {
    display: none;
  }
  .mainNavbar #navContent #rightSidePanel li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .mainNavbar #navContent #rightSidePanel li a {
    margin: 0;
    width: 100%;
  }
  .mainNavbar #navContent ul#userCloud {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
    border: none;
  }
  .mainNavbar #navContent #userCloud li {
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .mainNavbar #navContent #userCloud li a {
    margin: 0;
    width: 100%;
  }
  .mainNavbar #navContent ul {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
  }
}
.contentContainer {
  color: #271e36;
  position: relative;
  display: block;
  min-height: calc(100% - 46px - 64px);
  margin: 0 auto;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 64px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 700px) {
  .contentContainer {
    padding-top: 0;
    overflow: auto;
  }
}
.contentContainer > div {
  padding-top: 10px;
}
@media screen and (min-width: 700px) {
  .contentContainer {
    width: 650px;
  }
}
@media screen and (min-width: 900px) {
  .contentContainer {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .contentContainer {
    width: 1000px;
  }
}
.contentContainer footer {
  height: 50px;
  text-align: center;
  background-color: white;
  position: absolute;
  width: 100%;
  border-top: 4px solid #e6e6e6;
  left: 0;
  bottom: 0;
}
.contentContainer footer div {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.flashContainer {
  margin-right: 10px;
  margin-left: 10px;
}
div#flashContainer {
  padding-top: 0;
  margin-right: 10px;
  margin-left: 10px;
}
.messageCloud {
  font-size: 14px;
  border: none;
  border-top: 2px solid ;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
}
.messageCloud.success {
  background-color: #dff0d8;
  color: #84c569;
  border-color: #84c569;
}
.messageCloud.error {
  background-color: #f2dede;
  color: #c77070;
  border-color: #c77070;
}
.messageCloud.info {
  background-color: #d9edf7;
  color: #5bb1dc;
  border-color: #5bb1dc;
}
.pixPoints {
  order: 2;
  padding: 0;
  text-align: center;
  margin-bottom: 10%;
  width: 100%;
  font-size: 16px;
}
.standardBtt {
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #271e36;
  display: inline-block;
  text-decoration: none;
}
.standardBtt:active {
  position: relative;
  top: 1px;
}
.standardBttBig {
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #271e36;
  display: inline-block;
  text-decoration: none;
  font-size: 16.8px;
  padding: 6px;
  padding-left: 24px;
  padding-right: 24px;
}
.standardBttBig:active {
  position: relative;
  top: 1px;
}
.navBtt {
  background-color: #6f5499;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
  float: right;
}
.navBtt:hover {
  color: #6f5499;
  border-color: white;
  background-color: white;
}
.standardInput {
  padding: 3px;
  outline: none;
}
.standardInput:focus {
  border-top: 2px solid #5bb1dc;
  text-decoration: none;
}
.navInput {
  border: 1px solid #574278;
}
.navInput:focus {
  outline: none;
  borderWidth: 1px;
}
.picBox {
  box-shadow: 3px 3px 10px rgba(118, 118, 118, 0.35);
}
.galleryContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.imgCloud {
  padding: 10px;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  background-color: white;
}
.picScreen {
  height: 100%;
}
.picScreen .imgSec {
  /*-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
.picScreen .imgSec img {
  vertical-align: top;
  /*-webkit-transition: width 1s,height 1s;*/
  /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
.picScreen .pointUpBtt {
  order: 1;
  padding: 0;
  font-size: 20px;
  color: white;
  background-color: Transparent;
  border: 1px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.picScreen .pointUpBtt:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.4);
}
.picScreen .pointUpBtt:active {
  position: relative;
  top: 1px;
}
.picScreen .descSec,
.picScreen .descSecx {
  display: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: calc(35% );
  width: calc(100% - 30px);
  padding: 5px;
}
.picScreen .descSec .avImg,
.picScreen .descSecx .avImg {
  vertical-align: top;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
.picScreen .descSec .descPan,
.picScreen .descSecx .descPan {
  width: calc(100% - 17.5% -  10px);
  height: 100%;
}
.picScreen .descSec .descPan .title,
.picScreen .descSecx .descPan .title {
  height: calc(70% - 5px);
  width: calc(75% - 10px);
  margin-bottom: 10px;
}
.picScreen .descSec .descPan a:link,
.picScreen .descSecx .descPan a:link {
  color: white;
  text-decoration: none;
}
.picScreen .descSec .descPan a:visited,
.picScreen .descSecx .descPan a:visited {
  color: white;
  text-decoration: none;
}
.picScreen .descSec .descPan a:active,
.picScreen .descSecx .descPan a:active {
  color: white;
  text-decoration: none;
}
.picScreen .descSec .descPan a:hover,
.picScreen .descSecx .descPan a:hover {
  color: white;
  text-decoration: none;
}
.picScreen .descSec .descPan .author,
.picScreen .descSecx .descPan .author {
  height: 30%;
  width: calc(75% - 10px);
}
.picScreen .badgeSec {
  display: flex;
  align-content: flex-end;
  flex-direction: column-reverse;
  width: 17.5%;
  height: calc(100% - 10px);
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 30px;
  border-left: 1px solid white;
}
.smallTitle {
  font-size: 20px;
  font-weight: bold;
}
.bigTitle {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.formXStyle {
  background-color: #E7E7E7;
  border-top: 2px solid ;
  color: #9b9b9b;
  border-color: #9b9b9b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formXStyle input[type='text'],
.formXStyle input[type='password'] {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-top: 1px solid #9b9b9b;
}
.formXStyle input[type='text']:focus,
.formXStyle input[type='password']:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
.formXStyle input[type='text'].success,
.formXStyle input[type='password'].success {
  border-top: 2px solid #84c569;
}
.formXStyle input[type='text'].error,
.formXStyle input[type='password'].error {
  border-top: 2px solid #c77070;
}
.formXStyle input[type='text'].info,
.formXStyle input[type='password'].info {
  border-top: 2px solid #5bb1dc;
}
.bttXStyle .standardBtt {
  background-color: #E7E7E7;
  color: #9b9b9b;
  border-color: #9b9b9b;
  float: right;
  text-align: center;
}
.bttXStyle .standardBtt:hover {
  background-color: #9b9b9b;
  color: #E7E7E7;
}
.inputInfo {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 20px;
  display: inline;
  width: 40%;
  margin-left: 5%;
}
.inputInfo.success {
  color: #84c569;
  border-color: #84c569;
}
.inputInfo.success::before {
  content: '\2713';
  margin-right: 3px;
}
.inputInfo.error {
  color: #c77070;
  border-color: #c77070;
}
.inputInfo.error::before {
  content: '\2717';
  margin-right: 3px;
}
.inputInfo.info {
  color: #5bb1dc;
  border-color: #5bb1dc;
}
.inputInfo.info::before {
  content: '\2022';
  margin-right: 3px;
}
#formMessageGlobalCon {
  display: block;
  width: 100%;
}
#formMessageGlobal {
  display: none;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  border-top: 1px solid;
}
#formMessageGlobal.success {
  background-color: #dff0d8;
  color: #84c569;
  border-color: #84c569;
}
#formMessageGlobal.error {
  background-color: #f2dede;
  color: #c77070;
  border-color: #c77070;
}
#formMessageGlobal.info {
  background-color: #d9edf7;
  color: #5bb1dc;
  border-color: #5bb1dc;
}
.myForm {
  background-color: #E7E7E7;
  border-top: 2px solid ;
  color: #9b9b9b;
  border-color: #9b9b9b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  display: block;
  width: 50%;
}
.myForm input[type='text'],
.myForm input[type='password'] {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-top: 1px solid #9b9b9b;
}
.myForm input[type='text']:focus,
.myForm input[type='password']:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
.myForm input[type='text'].success,
.myForm input[type='password'].success {
  border-top: 2px solid #84c569;
}
.myForm input[type='text'].error,
.myForm input[type='password'].error {
  border-top: 2px solid #c77070;
}
.myForm input[type='text'].info,
.myForm input[type='password'].info {
  border-top: 2px solid #5bb1dc;
}
.myForm input[type='text'],
.myForm input[type='password'] {
  width: 50%;
}
.myForm div {
  padding-top: 20px;
}
.myForm div div {
  padding: 0;
}
.myForm button {
  width: 50%;
}
.myForm label {
  display: block;
}
.myForm .buttonContainer {
  width: 50%;
}
.myForm .buttonContainer .standardBtt {
  background-color: #E7E7E7;
  color: #9b9b9b;
  border-color: #9b9b9b;
  float: right;
  text-align: center;
}
.myForm .buttonContainer .standardBtt:hover {
  background-color: #9b9b9b;
  color: #E7E7E7;
}
@media screen and (max-width: 700px) {
  .myForm {
    width: calc(100% - 10px - 10px - 20px - 20px);
  }
  .myForm .buttonContainer {
    width: 100%;
    text-align: center;
  }
  .myForm .buttonContainer .standardNavBtt {
    float: none;
  }
}
div#picScreenFloat {
  padding-top: 0;
  padding-bottom: 10px;
}
div#picScreenFloat:after {
  clear: both;
  content: "";
  display: block;
}
div#picScreenFloat .picBox {
  transition: width 300ms, height 300ms;
  -webkit-transition: width 300ms, height 300ms;
  /* Safari 3.1 to 6.0 */
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  padding: 10px;
  float: left;
  background-color: white;
  /*-webkit-transition: width 1s,height 1s; /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
#picScreenPuzzled {
  position: relative;
}
#picScreenPuzzled .picBox {
  position: absolute;
  display: block;
  padding: 10px;
  background-color: white;
  margin-right: 10px;
}
#picScreenFull {
  margin-top: 10px;
  padding-top: 0;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
#picScreenFull:after {
  clear: both;
  content: "";
  display: block;
}
#picScreenFull .descSec,
#picScreenFull .descSecx {
  position: relative;
  display: block;
  height: calc(-14px + 35vw);
  background-color: white;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  padding-top: 10px;
  color: #271e36;
}
#picScreenFull .descSec .descPan,
#picScreenFull .descSecx .descPan {
  float: left;
  height: 100%;
}
#picScreenFull .descSec .badgeSec,
#picScreenFull .descSecx .badgeSec {
  color: #271e36;
  position: absolute;
  font-size: 30px;
  border-left: 1px solid #271e36;
}
#picScreenFull .descSec .badgeSec .pointUpBtt,
#picScreenFull .descSecx .badgeSec .pointUpBtt {
  color: #271e36;
  border: 4px solid #271e36;
  height: 100%;
}
#picScreenFull .descSec .badgeSec .pointUpBtt,
#picScreenFull .descSecx .badgeSec .pointUpBtt {
  border-width: calc(-0.6666666666666666px + 1.6666666666666667vw);
  width: calc(100% + 2*0.6666666666666666px - 2*1.6666666666666667vw + 0.5vw);
  height: calc(50% + 2*0.6666666666666666px - 2*1.6666666666666667vw );
  margin: calc(-0.6666666666666666px + 1.6666666666666667vw);
}
#picScreenFull .descSec .badgeSec .pointUpBtt:hover,
#picScreenFull .descSecx .badgeSec .pointUpBtt:hover {
  background-color: #271e36;
  color: white;
}
#picScreenFull .picBox {
  transition: width 300ms, height 300ms;
  -webkit-transition: width 300ms, height 300ms;
  /* Safari 3.1 to 6.0 */
  width: calc(100% - 20px - 20px);
  height: calc(100% - 20px - 20px);
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  padding: 10px;
  float: left;
  background-color: white;
  /*-webkit-transition: width 1s,height 1s;*/
  /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
#picScreenFull .picBox a:link {
  color: #271e36;
  text-decoration: none;
}
#picScreenFull .picBox a:visited {
  color: #271e36;
  text-decoration: none;
}
#picScreenFull .picBox a:active {
  color: #271e36;
  text-decoration: none;
}
#picScreenFull .picBox a:hover {
  color: #271e36;
  text-decoration: none;
}
#picScreenFull .picBox img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
#picScreenFull .picBox .badgeSec {
  position: relative;
  height: 100%;
  float: right;
  right: 0;
  bottom: 0;
}
#picScreenFull .picBox .badgeSec .pixPoints {
  font-size: calc(-4px + 10vw);
}
#picScreenFull .picBox .badgeSec .pointUpBtt {
  font-size: calc(-4px + 10vw);
}
#picScreenFull .picBox .descSec,
#picScreenFull .picBox descSecx {
  display: inline-block;
}
#picScreenFull .picBox .descSec .title,
#picScreenFull .picBox descSecx .title {
  font-size: calc(-3.6363636363636362px + 9.090909090909092vw);
}
#picScreenFull .picBox .descSec .author,
#picScreenFull .picBox descSecx .author {
  display: inline-block;
  width: 100%;
  font-size: calc(-2.6666666666666665px + 6.666666666666667vw);
}
#picScreenFull .picBox .descSec .author .avImg,
#picScreenFull .picBox descSecx .author .avImg {
  height: calc(-2.6666666666666665px + 6.666666666666667vw);
  width: auto;
  margin-right: calc(-1.3333333333333333px + 3.3333333333333335vw);
}
@media screen and (min-width: 740px) {
  #picScreenFull .picBox {
    width: 740px;
    margin: 0 auto;
    float: none;
    display: block;
  }
  #picScreenFull .picBox .descSec,
  #picScreenFull .picBox .descSecx {
    position: relative;
    display: block;
    width: 100%;
    height: 245px;
    padding: 0;
    top: 0;
    left: 0;
    padding-top: 10px;
  }
  #picScreenFull .picBox .descSec .descPan,
  #picScreenFull .picBox .descSecx .descPan {
    float: left;
    height: 100%;
  }
  #picScreenFull .picBox .badgeSec {
    position: static;
    float: right;
    right: 0;
    bottom: 0;
  }
  #picScreenFull .picBox .badgeSec .pixPoints {
    font-size: 70px;
  }
  #picScreenFull .picBox .badgeSec .pointUpBtt {
    font-size: 70px;
    border-width: 11.66666667px;
    width: calc(100% - 2*11.666666666666666px);
    height: calc(50% - 2*11.666666666666666px + 7px);
    margin: 11.66666667px;
  }
  #picScreenFull .picBox .badgeSec .pointUpBtt:hover {
    background-color: #271e36;
    color: white;
  }
  #picScreenFull .picBox .descSec,
  #picScreenFull .picBox .descSecx {
    display: inline-block;
  }
  #picScreenFull .picBox .descSec .title,
  #picScreenFull .picBox .descSecx .title {
    font-size: 63.63636364px;
  }
  #picScreenFull .picBox .descSec .author,
  #picScreenFull .picBox .descSecx .author {
    font-size: 46.66666667px;
  }
  #picScreenFull .picBox .descSec .author span,
  #picScreenFull .picBox .descSecx .author span {
    float: left;
  }
  #picScreenFull .picBox .descSec .author .avImg,
  #picScreenFull .picBox .descSecx .author .avImg {
    float: left;
    height: 46.66666667px;
    width: auto;
    margin-right: 23.33333333px;
  }
}
div#picScreenSmall {
  padding-top: 0;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
div#picScreenSmall:after {
  clear: both;
  content: "";
  display: block;
}
div#picScreenSmall .descSec,
div#picScreenSmall .descSecx {
  position: relative;
  display: block;
  height: calc(-12.25px + 17.5vw);
  background-color: white;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  padding-top: 10px;
  color: #271e36;
}
div#picScreenSmall .descSec .descPan,
div#picScreenSmall .descSecx .descPan {
  float: left;
  height: 100%;
}
div#picScreenSmall .descSec .badgeSec,
div#picScreenSmall .descSecx .badgeSec {
  color: #271e36;
  position: absolute;
  font-size: 30px;
  border-left: 1px solid #271e36;
}
div#picScreenSmall .descSec .badgeSec .pointUpBtt,
div#picScreenSmall .descSecx .badgeSec .pointUpBtt {
  color: #271e36;
  border: 4px solid #271e36;
  height: 100%;
}
div#picScreenSmall .descSec .badgeSec .pointUpBtt,
div#picScreenSmall .descSecx .badgeSec .pointUpBtt {
  border-width: calc(-0.5833333333333334px + 0.8333333333333334vw);
  width: calc(100% + 2*0.5833333333333334px - 2*0.8333333333333334vw + 0.25vw);
  height: calc(50% + 2*0.5833333333333334px - 2*0.8333333333333334vw );
  margin: calc(-0.5833333333333334px + 0.8333333333333334vw);
}
div#picScreenSmall .descSec .badgeSec .pointUpBtt:hover,
div#picScreenSmall .descSecx .badgeSec .pointUpBtt:hover {
  background-color: #271e36;
  color: white;
}
div#picScreenSmall .picBox {
  transition: width 300ms, height 300ms;
  -webkit-transition: width 300ms, height 300ms;
  /* Safari 3.1 to 6.0 */
  width: calc(50% - 15px - 20px);
  height: calc(50% - 15px - 20px);
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  padding: 10px;
  float: left;
  background-color: white;
  /*-webkit-transition: width 1s,height 1s;*/
  /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
div#picScreenSmall .picBox a:link {
  color: #271e36;
  text-decoration: none;
}
div#picScreenSmall .picBox a:visited {
  color: #271e36;
  text-decoration: none;
}
div#picScreenSmall .picBox a:active {
  color: #271e36;
  text-decoration: none;
}
div#picScreenSmall .picBox a:hover {
  color: #271e36;
  text-decoration: none;
}
div#picScreenSmall .picBox img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
div#picScreenSmall .picBox .badgeSec {
  position: relative;
  height: 100%;
  float: right;
  right: 0;
  bottom: 0;
}
div#picScreenSmall .picBox .badgeSec .pixPoints {
  font-size: calc(-3.5px + 5vw);
}
div#picScreenSmall .picBox .badgeSec .pointUpBtt {
  font-size: calc(-3.5px + 5vw);
}
div#picScreenSmall .picBox .descSec,
div#picScreenSmall .picBox descSecx {
  display: inline-block;
}
div#picScreenSmall .picBox .descSec .title,
div#picScreenSmall .picBox descSecx .title {
  font-size: calc(-3.1818181818181817px + 4.545454545454546vw);
}
div#picScreenSmall .picBox .descSec .author,
div#picScreenSmall .picBox descSecx .author {
  display: inline-block;
  width: 100%;
  font-size: calc(-2.3333333333333335px + 3.3333333333333335vw);
}
div#picScreenSmall .picBox .descSec .author .avImg,
div#picScreenSmall .picBox descSecx .author .avImg {
  height: calc(-2.3333333333333335px + 3.3333333333333335vw);
  width: auto;
  margin-right: calc(-1.1666666666666667px + 1.6666666666666667vw);
}
div#picScreenXsmall {
  padding-top: 0;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
div#picScreenXsmall:after {
  clear: both;
  content: "";
  display: block;
}
div#picScreenXsmall .descSec,
div#picScreenXsmall .descSecx {
  position: relative;
  display: block;
  height: calc(-14px + 35vw);
  background-color: white;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  padding-top: 10px;
  color: #271e36;
}
div#picScreenXsmall .descSec .descPan,
div#picScreenXsmall .descSecx .descPan {
  float: left;
  height: 100%;
}
div#picScreenXsmall .descSec .badgeSec,
div#picScreenXsmall .descSecx .badgeSec {
  color: #271e36;
  position: absolute;
  font-size: 30px;
  border-left: 1px solid #271e36;
}
div#picScreenXsmall .descSec .badgeSec .pointUpBtt,
div#picScreenXsmall .descSecx .badgeSec .pointUpBtt {
  color: #271e36;
  border: 4px solid #271e36;
  height: 100%;
}
div#picScreenXsmall .descSec .badgeSec .pointUpBtt,
div#picScreenXsmall .descSecx .badgeSec .pointUpBtt {
  border-width: calc(-0.6666666666666666px + 1.6666666666666667vw);
  width: calc(100% + 2*0.6666666666666666px - 2*1.6666666666666667vw + 0.5vw);
  height: calc(50% + 2*0.6666666666666666px - 2*1.6666666666666667vw );
  margin: calc(-0.6666666666666666px + 1.6666666666666667vw);
}
div#picScreenXsmall .descSec .badgeSec .pointUpBtt:hover,
div#picScreenXsmall .descSecx .badgeSec .pointUpBtt:hover {
  background-color: #271e36;
  color: white;
}
div#picScreenXsmall .picBox {
  transition: width 300ms, height 300ms;
  -webkit-transition: width 300ms, height 300ms;
  /* Safari 3.1 to 6.0 */
  width: calc(100% - 20px - 20px);
  height: calc(100% - 20px - 20px);
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  padding: 10px;
  float: left;
  background-color: white;
  /*-webkit-transition: width 1s,height 1s;*/
  /* For Safari 3.1 to 6.0 */
  /*transition: width 1s,height 1s;*/
}
div#picScreenXsmall .picBox a:link {
  color: #271e36;
  text-decoration: none;
}
div#picScreenXsmall .picBox a:visited {
  color: #271e36;
  text-decoration: none;
}
div#picScreenXsmall .picBox a:active {
  color: #271e36;
  text-decoration: none;
}
div#picScreenXsmall .picBox a:hover {
  color: #271e36;
  text-decoration: none;
}
div#picScreenXsmall .picBox img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
div#picScreenXsmall .picBox .badgeSec {
  position: relative;
  height: 100%;
  float: right;
  right: 0;
  bottom: 0;
}
div#picScreenXsmall .picBox .badgeSec .pixPoints {
  font-size: calc(-4px + 10vw);
}
div#picScreenXsmall .picBox .badgeSec .pointUpBtt {
  font-size: calc(-4px + 10vw);
}
div#picScreenXsmall .picBox .descSec,
div#picScreenXsmall .picBox descSecx {
  display: inline-block;
}
div#picScreenXsmall .picBox .descSec .title,
div#picScreenXsmall .picBox descSecx .title {
  font-size: calc(-3.6363636363636362px + 9.090909090909092vw);
}
div#picScreenXsmall .picBox .descSec .author,
div#picScreenXsmall .picBox descSecx .author {
  display: inline-block;
  width: 100%;
  font-size: calc(-2.6666666666666665px + 6.666666666666667vw);
}
div#picScreenXsmall .picBox .descSec .author .avImg,
div#picScreenXsmall .picBox descSecx .author .avImg {
  height: calc(-2.6666666666666665px + 6.666666666666667vw);
  width: auto;
  margin-right: calc(-1.3333333333333333px + 3.3333333333333335vw);
}
#loginPageCloud {
  width: 300px;
  text-align: center;
  background-color: #E7E7E7;
  border-top: 2px solid ;
  color: #9b9b9b;
  border-color: #9b9b9b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
#loginPageCloud input[type='text'],
#loginPageCloud input[type='password'] {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-top: 1px solid #9b9b9b;
}
#loginPageCloud input[type='text']:focus,
#loginPageCloud input[type='password']:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
#loginPageCloud input[type='text'].success,
#loginPageCloud input[type='password'].success {
  border-top: 2px solid #84c569;
}
#loginPageCloud input[type='text'].error,
#loginPageCloud input[type='password'].error {
  border-top: 2px solid #c77070;
}
#loginPageCloud input[type='text'].info,
#loginPageCloud input[type='password'].info {
  border-top: 2px solid #5bb1dc;
}
#loginPageCloud .standardBtt {
  background-color: #E7E7E7;
  color: #9b9b9b;
  border-color: #9b9b9b;
  float: right;
  text-align: center;
}
#loginPageCloud .standardBtt:hover {
  background-color: #9b9b9b;
  color: #E7E7E7;
}
#loginPageCloud img {
  height: 150px;
  width: auto;
}
#loginPageCloud button {
  display: block;
}
#loginPageCloud span {
  display: block;
  width: 100%;
}
#loginPageCloud .inputInfo {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#loginPageCloud div {
  padding-top: 20px;
}
#loginPageCloud > div,
#loginPageCloud button,
#loginPageCloud input {
  width: 100%;
}
#loginPageCloud input {
  width: 100%;
}
div#newbieMsgg {
  padding-top: 3px;
  font-size: 12px;
  display: inline-block;
}
div#newbieMsgg a {
  color: #6f5499;
}
div#newbieMsgg a:link {
  text-decoration: none;
}
div#newbieMsgg a:visited {
  text-decoration: none;
}
div#newbieMsgg a:hover {
  text-decoration: underline;
}
div#newbieMsgg a:active {
  text-decoration: underline;
}
#errorPageContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#noConnectionMesssageContainer {
  margin-right: 10px;
  margin-left: 10px;
}
#noConnectionMesssageContainer .messageCloud:first-child {
  margin-top: 0;
}
#noConnectionMesssageContainer .messageCloud img {
  display: block;
  margin: auto;
}
.loadingPanel {
  opacity: 0.6;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loadingPanel img {
  height: 150px;
  width: auto;
}
.contentContainer div.homeUploadInfo {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  background-color: #E7E7E7;
  border: none;
  border-top: 2px solid ;
  margin-top: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.9;
  color: #000000;
  border-color: #000000;
}
.contentContainer div.homeUploadInfo .standardBtt {
  float: none;
  background-color: transparent;
  color: #271e36;
  border-color: #271e36;
}
.contentContainer div.homeUploadInfo .standardBtt:hover {
  background-color: #271e36;
  color: #E7E7E7;
}
.contentContainer div.homeUploadInfo .closeCloud {
  position: absolute;
  top: 0;
  right: 10px;
  opacity: 0.5;
}
.contentContainer div.homeUploadInfo .closeCloud:hover {
  opacity: 1.0;
}
.myForm .standardNavForm:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
#formScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#formScreen #picScreenFloat {
  flex: 1;
  display: flex;
  justify-content: center;
}
#formScreen #picScreenFloat #loginPageCloud {
  align-self: center;
}
#userCase {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  width: calc(100% - 20px);
  border-bottom: 1px solid;
}
#userCase .avImg {
  height: 40px;
  vertical-align: middle;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
.standardBttBig {
  margin-top: 10px;
  margin-left: 0;
  background-color: transparent;
}
.standardBttBig:disabled {
  color: #bfb2d4;
  border-color: #bfb2d4;
}
.standardBttBig:disabled:hover {
  color: #bfb2d4;
  border-color: #bfb2d4;
  background-color: transparent;
}
.standardBttBig:hover {
  color: white;
  background-color: #271e36;
}
.uploadPanel {
  padding: 10px;
  display: block;
  text-align: center;
}
.uploadPanel .uploadInput {
  display: none;
}
.uploadScreen {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}
.uploadScreen .shutter {
  background-color: #000;
  opacity: .5;
  height: 100%;
  width: 100%;
}
.uploadScreen .uploadIcon {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin-top: 125px;
  vertical-align: top;
  width: 100%;
  text-align: center;
}
.uploadScreen .uploadIcon img {
  opacity: 0.5;
  height: 250px;
  width: auto;
}
.uploadScreen .uploadIcon img:hover {
  opacity: .9;
}
.previewScreen {
  display: block;
  text-align: center;
}
.previewScreen img {
  height: 700px;
  width: auto;
}
.previewScreenSmall {
  display: block;
  text-align: center;
}
.previewScreenSmall img {
  height: calc(60%);
  width: auto;
}
#uploadBackBtt {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
#uploadFormDiv {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  padding: 0;
  display: none;
}
.uploadForm {
  background-color: #E7E7E7;
  border-top: 2px solid ;
  color: #9b9b9b;
  border-color: #9b9b9b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  display: block;
  width: 50%;
  width: 100%;
  margin-left: 0;
  text-align: center;
  border-style: none;
  font-size: 16.8px;
  padding: 6px;
  padding-right: 0;
  padding-left: 0;
  color: #271e36;
  background-color: transparent;
}
.uploadForm input[type='text'],
.uploadForm input[type='password'] {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-top: 1px solid #9b9b9b;
}
.uploadForm input[type='text']:focus,
.uploadForm input[type='password']:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
.uploadForm input[type='text'].success,
.uploadForm input[type='password'].success {
  border-top: 2px solid #84c569;
}
.uploadForm input[type='text'].error,
.uploadForm input[type='password'].error {
  border-top: 2px solid #c77070;
}
.uploadForm input[type='text'].info,
.uploadForm input[type='password'].info {
  border-top: 2px solid #5bb1dc;
}
.uploadForm input[type='text'],
.uploadForm input[type='password'] {
  width: 50%;
}
.uploadForm div {
  padding-top: 20px;
}
.uploadForm div div {
  padding: 0;
}
.uploadForm button {
  width: 50%;
}
.uploadForm label {
  display: block;
}
.uploadForm .buttonContainer {
  width: 50%;
}
.uploadForm .buttonContainer .standardBtt {
  background-color: #E7E7E7;
  color: #9b9b9b;
  border-color: #9b9b9b;
  float: right;
  text-align: center;
}
.uploadForm .buttonContainer .standardBtt:hover {
  background-color: #9b9b9b;
  color: #E7E7E7;
}
.uploadForm .standardNavForm:focus {
  text-decoration: none;
  border-top: 2px solid #5bb1dc;
}
.uploadForm input[type=text] {
  font-size: 16.8px;
  border-right: #E7E7E7 1px solid;
  border-left: #E7E7E7 1px solid;
  border-bottom: #E7E7E7 1px solid;
}
.uploadForm #updateSubmitBtt {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}
.underFooter {
  width: 100%;
  margin-left: 0;
  background: #6f5499;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  overflow: auto;
}
.underFooter a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.underFooter a:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.underFooter a:active {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.underFooter a:hover {
  color: white;
  text-decoration: none;
}
.underFooter a:hover img {
  opacity: 1.0;
}
.underFooter .bigUl {
  overflow: auto;
  background: #574278;
  position: relative;
  margin: 0 auto;
}
.underFooter .bigUl li,
.underFooter .bigUl p,
.underFooter .bigUl ul {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 700px) {
  .underFooter .bigUl {
    width: 650px;
  }
}
@media screen and (min-width: 900px) {
  .underFooter .bigUl {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .underFooter .bigUl {
    width: 1000px;
  }
}
.underFooter .bigUl > ul {
  padding: 40px;
  padding-top: 40px;
  margin: 0;
  list-style-type: none;
}
.underFooter .bigUl > ul p {
  font-size: 16.8px;
  opacity: 0.7;
}
.underFooter .bigUl > ul > li,
.underFooter .bigUl > ul > div {
  padding: 10px;
  padding-top: 0;
  display: inline-block;
  vertical-align: top;
}
.underFooter .bigUl > ul > li ul,
.underFooter .bigUl > ul > div ul {
  margin-top: 10px;
}
.underFooter .bigUl > ul > li li,
.underFooter .bigUl > ul > div li,
.underFooter .bigUl > ul > li div,
.underFooter .bigUl > ul > div div {
  list-style-type: none;
}
.underFooter .bigUl > ul > li:first-child,
.underFooter .bigUl > ul > div:first-child {
  padding-left: 0;
}
