#picScreen.picScreenPoczekalnia:after {
  clear: both;
  content: "";
  display: block;
}
#picScreen.picScreenPoczekalnia .upBox {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  display: block;
}
#picScreen.picScreenPoczekalnia .picBox {
  position: relative;
  display: block;
  padding: 10px;
  float: left;
  background-color: white;
  -webkit-transition: width 1s,height 1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 1s,height 1s;
}
